[2018-08-14 16:36] scottleedavis opened #1 "Questions on plugin structure"
1. is there a persistent store available via the rpc interface? (server-side plugin portion) For the java remind integration, I used a database with two tables defined. I don't think keeping reminders in memory alone is a good idea.
1. Can Timezone be determined per user interaction through the server-side rpc? One fatal flaw in the java remind integration is that it runs only one timezone, which

[2018-08-20 00:02] #1 closed

[2018-08-21 04:32] scottleedavis opened #2 "Add rest of 'in' when handling"

[2018-08-21 04:33] scottleedavis opened #3 "Add 'at' when handling"

[2018-08-21 04:33] scottleedavis opened #4 "Add 'on' when handling"

[2018-08-21 04:34] scottleedavis opened #5 "Add 'every' when handling"

[2018-08-21 04:35] scottleedavis opened #6 "Handle non standard when forms"

[2018-08-21 04:36] scottleedavis opened #7 "Add interactive buttons for DM remind channel messages"

[2018-08-21 04:37] scottleedavis opened #8 "Add web app ui."
More configurable then remind list, but similar

[2018-08-21 04:39] scottleedavis opened #9 "Add channel reminders viewable in remind list"

[2018-08-21 04:39] scottleedavis opened #10 "Pick up remaining issues from mattermost-remind"

[2018-08-21 21:48] scottleedavis opened #11 "changing name to remindbot"

[2018-08-21 21:52] scottleedavis opened #12 "When completing a reminder, use strikethrough and post a new message (similar to slack)"
![image pasted at 2018-8-21 13-22](https://user-images.githubusercontent.com/2914443/44431151-d2a89e00-a551-11e8-867f-45f1e32b1b0c.png)

[2018-08-21 22:10] scottleedavis opened #13 "Channel reminders to be text only (no interactive buttons)"
![image pasted at 2018-8-21 13-51](https://user-images.githubusercontent.com/2914443/44431788-45b31400-a554-11e8-9d21-2d340612a8e3.png)

[2018-08-21 22:14] scottleedavis opened #14 "use local time from client if experimental timezone is not set"

[2018-08-30 08:46] tutchmedia opened #15 "Can add reminder successfully but doesn't trigger at time (or at all)"
Hi, we have this set up correctly and everyone is able to add/list/clear a reminder. Unfortunately, nobody has been able to receive a reminder or notification.

Do you have any ideas what could be causing this or where to check first?

As a side note, the logs are showing the time as:

`2018-08-29T17:03:53.945+0100    debug   app/plugin_api.go:303   existing [{## user## me 1 16:35 [] 0001-01-01 00

[2018-09-06 05:04] scottleedavis commented on #15
@tutchmedia I am really putting all my energy into the native version of remind and not planning on doing bug fixes for the plugin.  That being said it could be a wing time issue certainly.

[2018-09-06 05:04] #15 closed

[2018-09-06 05:06] scottleedavis commented on #15
https://github.com/scottleedavis/mattermost-server/tree/MM-10580

[2018-09-06 05:08] #14 closed

[2018-09-06 05:08] #13 closed

[2018-09-06 05:08] #12 closed

[2018-09-06 05:08] #11 closed

[2018-09-06 05:08] #10 closed

[2018-09-06 05:09] #9 closed

[2018-09-06 05:09] #8 closed

[2018-09-06 05:09] #7 closed

[2018-09-06 05:09] #6 closed

[2018-09-06 05:09] #5 closed

[2018-09-06 05:09] #4 closed

[2018-09-06 05:09] #2 closed

[2019-04-02 04:00] hobsRKM opened #16 "cant find config.json file"
Cannot find the config.json file.
Is readme outdated?
Where do i set exactly the site url?

[2019-04-09 06:11] scottleedavis commented on #16
Hi @hobsRKM

7 days ago this plugin wasn’t in a workable state.  While it is more stable now, I am planning on it be fully usable later this week.  The config for siteURL comes from the server/config/config.json running on the server.  Readme.md is up to date, and please point out anything not correct. :)

[2019-04-09 06:11] #16 closed

[2019-04-10 16:41] bradonkanyid opened #17 "Really requires 5.10.0 ?"
I'd love to use this plugin (even though it's WIP), but it says recently that it requires MM 5.10. We run 5.9 currently, and I guess I can wait, but if there's no actual 5.10 features, maybe we could roll it back to 5.9?

[2019-04-11 01:29] scottleedavis commented on #17
Hi @bradonkanyid,

Great point!  And today I converted the remind user to use a bot account only available in 5.10.  :)

[2019-04-11 01:29] #17 closed

[2019-04-11 02:59] scottleedavis opened #18 "A snoozed messages in list"
Sometimes a snoozed reminder does not appear in the list.

Snooze buttons on reminders inside the list do not appear to function.

[2019-04-11 03:10] scottleedavis opened #19 "Channel reminders in /remind list"
Channel reminders do not display occurrence information

Channel reminders do not display 'complete' information.

[2019-04-11 03:12] scottleedavis opened #20 "the pattern 'me' gets stripped from the message (not just the target)"
when "me" is inside a message it gets stripped out.

[2019-04-11 03:13] scottleedavis commented on #20
for example /remind me to update the team meeting agenda on Mondays

[2019-04-11 03:14] scottleedavis opened #21 "Immediately becomes 'past and incomplete'"
/remind me to schedule annual reviews every January 25

[2019-04-11 03:15] scottleedavis opened #22 "deprecate /remind clear"
or at least only enable it for a dev testing capacity

[2019-04-11 03:17] scottleedavis opened #23 "Doesn't parse statement"
/remind me to do things every monday and wednesday at noon

/remind me Remember the children's birthdays every 1/30 and 9/30 at noon

[2019-04-11 03:17] scottleedavis opened #24 "Doesn't parse statement"
/remind me on June 1st to wish Linda happy birthday

[2019-04-11 03:19] scottleedavis opened #25 "parses incorrectly"
/remind me foo every 5/5 at 7
parsed as
 I will remind you "foo" at 3:00AM every 5/5.

[2019-04-11 03:20] scottleedavis opened #26 "doesn't parse"
/remind me foo on april 9 2020 at 11am

[2019-04-11 03:21] scottleedavis opened #27 "doesn't parse"
/remind me what doin everyday at 3:23am

[2019-04-11 03:22] scottleedavis opened #28 "doesn't parse"
/remind me a test at 3pm every day

[2019-04-11 03:22] scottleedavis opened #29 "doesn't parse"
/remind me test every monday, tuesday at 2pm

[2019-04-11 03:23] scottleedavis opened #30 "doesn't parse"
/remind me test tomorrow at 4pm

[2019-04-11 04:15] scottleedavis opened #31 "Unit test coverage >= 65%"

[2019-04-11 04:19] scottleedavis opened #32 "convert the 'slack' voice in bot to use 'mattermost' voice."
pinged @esethna on community.mattermost.com about editing https://github.com/scottleedavis/mattermost-plugin-remind/blob/master/server/i18n/en.json to follow mattermost voice guidelines.

[2019-04-11 04:27] scottleedavis opened #33 "Reminders that can occur within the current day should state and remind the user that day. "tomorrow" > "today""
for example,

scheduling at 4:51pm for something at 5pm, should schedule it at the same day, not tomorrow.

[2019-04-11 04:29] scottleedavis opened #34 "These don't seem to be accepted, but are expected to work based on testing in Slack"
- /remind me eat 5pm
- /remind me to eat in 1hr
- /remind me in 1 hour to eat
- /remind me to Use quotes on and at in and around every thing in 1 minute

(Cause: Not quotes used. How can we address this? Slack seems to be able to detect it even when quotes aren't used. It's not likely that users will enter quotes when using the command so we should try to think through this.)

[2019-04-11 04:30] scottleedavis opened #35 "Duplicate occurrences in `remind list`"
Duplicate reminders shouldn't be allowed to exist in the list. I would expect that the bot accepts the input, just doesn't display the same reminder more than once in the "/remind list"

[2019-04-11 17:55] scottleedavis commented on #32
https://github.com/scottleedavis/mattermost-plugin-remind/pull/36

[2019-04-11 17:55] #32 closed

[2019-04-11 17:58] scottleedavis opened #37 "Snoozed dropdown only drops 'up'"
reported by @esethna

![image](https://community.mattermost.com/files/frzypcx7atnm5n9xwn5kyycshy/public?h=y96wXEse10_ovuVxnwj6Lan5fdZzdAwG6hE4SbQSUio)

will require mattermost-webapp changes

[2019-04-11 19:13] hanzei commented on #37
@jasonblais Is this by design or a bug with Mattermost?

[2019-04-11 20:51] scottleedavis opened #38 "fails to parse atEN"
in the atEN unit tests

- at 11:00 every Thursday
- at 3pm every day

[2019-04-11 21:04] scottleedavis opened #39 "fails to parse onEN unit tests"
on Mondays
on Tuesdays
on Wednesdays
on Thursdays
on Fridays
on Saturdays
on Sundays

[2019-04-11 21:15] scottleedavis opened #40 "fails to parse onEN unti tests"
- on march 17 at 5:41pm

[2019-04-11 21:19] scottleedavis opened #41 "fails to parse onEN unit test"
- on April 9 2020 at 11am

[2019-04-11 21:21] scottleedavis opened #42 "failed to parse onEN unit test"
- on auguSt tenth 2019

[2019-04-11 21:22] scottleedavis commented on #42
incorrect assessment.  closing

[2019-04-11 21:22] #42 closed

[2019-04-11 21:24] jasonblais commented on #37
It's known https://mattermost.atlassian.net/browse/MM-14489

[2019-04-11 21:56] scottleedavis opened #43 "failed to parse everyEN in unit test"
- every 5/5 at 7

[2019-04-11 21:58] scottleedavis opened #44 "failed to parse everyEN in unit test"
- every 7/20 at 110

[2019-04-11 22:01] scottleedavis opened #45 "failed to parse everyEN in unit test"
- every monday and wednesday

[2019-04-11 22:02] scottleedavis opened #46 "failed to parse everyEN in unit test"
- every wednesday, thursday

[2019-04-11 22:04] scottleedavis opened #47 "failed to parse everyEN in unit test"
- every other friday and saturday

[2019-04-11 22:06] scottleedavis opened #48 "failed to parse everyEN in unit test"
- every other friday and saturday

[2019-04-11 22:07] scottleedavis opened #49 "failed to parse everyEN unit test"
- every monday and wednesday at 1:39am

[2019-04-11 22:10] scottleedavis opened #50 "failed to parse everyEN in unit test"
- every monday, tuesday at 2pm

[2019-04-11 22:12] scottleedavis opened #51 "failed parse in everyEN unit test"
- every 1/30 and 9/30 at noon

[2019-04-11 22:26] scottleedavis opened #52 "failed to parse freeFormEM unit test"
- today at 3pm

[2019-04-11 22:29] scottleedavis opened #53 "failed to parse freeformEN unit test"
- tomorrow at 4pm

[2019-04-12 04:49] scottleedavis commented on #53
fixed

[2019-04-12 04:49] #53 closed

[2019-04-12 04:49] scottleedavis commented on #52
fixed

[2019-04-12 04:49] #52 closed

[2019-04-12 04:50] scottleedavis commented on #51
fixed

[2019-04-12 04:50] #51 closed

[2019-04-12 04:50] scottleedavis commented on #50
fixed

[2019-04-12 04:50] #50 closed

[2019-04-12 04:51] scottleedavis commented on #49
fixed

[2019-04-12 04:51] #49 closed

[2019-04-12 04:51] scottleedavis commented on #48
fixed

[2019-04-12 04:51] #48 closed

[2019-04-12 04:52] scottleedavis commented on #47
fixed

[2019-04-12 04:52] #47 closed

[2019-04-12 04:52] scottleedavis commented on #46
fixed

[2019-04-12 04:52] #46 closed

[2019-04-12 04:52] scottleedavis commented on #45
fixed

[2019-04-12 04:52] #45 closed

[2019-04-12 04:53] scottleedavis commented on #44
fixed

[2019-04-12 04:53] #44 closed

[2019-04-12 04:53] scottleedavis commented on #43
fixed

[2019-04-12 04:53] #43 closed

[2019-04-12 04:53] scottleedavis commented on #41
fixed

[2019-04-12 04:53] #41 closed

[2019-04-12 04:54] scottleedavis commented on #40
fixed

[2019-04-12 04:54] #40 closed

[2019-04-12 04:54] scottleedavis commented on #39
fixed

[2019-04-12 04:54] #39 closed

[2019-04-12 04:54] scottleedavis commented on #38
fixed

[2019-04-12 04:54] #38 closed

[2019-04-12 04:55] scottleedavis commented on #30
fixed

[2019-04-12 04:55] #30 closed

[2019-04-12 04:56] scottleedavis commented on #29
fixed

[2019-04-12 04:56] #29 closed

[2019-04-12 04:56] scottleedavis commented on #28
fixed

[2019-04-12 04:56] #28 closed

[2019-04-12 04:57] scottleedavis commented on #26
fixed

[2019-04-12 04:57] #26 closed

[2019-04-12 04:57] scottleedavis commented on #25
fixed

[2019-04-12 04:57] #25 closed

[2019-04-12 04:58] scottleedavis commented on #23
fixed

[2019-04-12 04:58] #23 closed

[2019-04-12 05:57] scottleedavis opened #54 "Reference main timezone repo now PR was merged"
https://github.com/tkuchiki/go-timezone/pull/11#issuecomment-482420488

[2019-04-12 16:34] scottleedavis opened #55 "Slash command response icon/username not properly set"
Currently it says "System" and a default icon.

[2019-04-12 17:56] scottleedavis commented on #55
Check out github plugin approach https://github.com/mattermost/mattermost-plugin-github/blob/master/server/command.go

Consider a custom icon with watch maybe?

[2019-04-12 20:06] scottleedavis commented on #18
snooze button in list function now

[2019-04-12 21:01] #18 closed

[2019-04-12 21:14] scottleedavis commented on #20
fixed

[2019-04-12 21:14] #20 closed

[2019-04-12 21:15] scottleedavis commented on #22
changed it to '__clear'.  useful for debuging.  non-published.  except this and source code. ;)

[2019-04-12 21:15] #22 closed

[2019-04-12 21:18] #54 closed

[2019-04-13 03:22] #21 closed

[2019-04-13 03:48] #24 closed

[2019-04-13 04:35] scottleedavis commented on #33
fixed by switching to common utc as storage some commits ago.

[2019-04-13 04:35] #33 closed

[2019-04-13 04:36] scottleedavis opened #56 "parse failed `/remind me eat 5pm`"
-  /remind me eat 5pm

[2019-04-13 04:37] scottleedavis opened #57 "parse failed `/remind me to eat in 1hr`"
-     /remind me to eat in 1hr

[2019-04-13 04:37] scottleedavis opened #58 "parse failed `/remind me in 1 hour to eat`"
-     /remind me in 1 hour to eat

[2019-04-13 04:39] scottleedavis opened #59 "parse failed (quotes vs non-quotes issue)"
-     /remind me to Use quotes on and at in and around every thing in 1 minute

To get around this situation, quotes can be used

-     /remind me" to Use quotes on and at in and around every thing" in 1 minute

Slack can parse it without quotes.

[2019-04-13 04:39] scottleedavis commented on #34
broke out individual issues

[2019-04-13 04:39] #34 closed

[2019-04-13 05:05] #19 closed

[2019-04-13 05:06] scottleedavis commented on #57
current parser expects this to be `/remind me to eat in 1 hr`

[2019-04-13 16:31] scottleedavis commented on #56
Parser should look for last word as time

[2019-04-13 19:20] scottleedavis opened #60 "channel reminders not display in `/remind list`"
They have been showing up, now they are gone.

[2019-04-13 20:00] scottleedavis commented on #60
false alarm?

[2019-04-13 20:00] #60 closed

[2019-04-13 20:55] #35 closed

[2019-04-13 22:35] scottleedavis commented on #55
Icon for bot coms is working.  icon for slashcommand response is not yet.

[2019-04-14 02:59] scottleedavis commented on #55
TODO: use CreatePost instead of default command response

[2019-04-14 03:00] scottleedavis opened #61 "make deploy fails"
Pull in latest deploy from sample plugin (mattermost-plugin-sample)

[2019-04-14 03:20] #55 closed

[2019-04-14 03:26] scottleedavis commented on #61
on linux.

[2019-04-14 04:05] #56 closed

[2019-04-14 04:37] #58 closed

[2019-04-14 05:01] #57 closed

[2019-04-14 05:11] scottleedavis commented on #61
revisit another time

[2019-04-14 05:11] #61 closed

[2019-04-17 10:24] JtheBAB opened #62 "/remind @username "Test Reminder" in 1 minute not working correctly"
Hi Scott

When someone types

/remind @username "Test Reminder" in 1 minute

i get this confirmation:

I will remind @username "Test Reminder" in 1 minute at 12:20PM today.

But then i got the reminder message and not the @username.

Best regards

JtheBAB

[2019-04-17 10:25] JtheBAB opened #63 "/remind help visible for all users in channel"
Hi Scott

When someone types

/remind help

Everyone in the channel can read it.

Best regards

JtheBAB

[2019-04-17 10:44] hanzei commented on #62
Technically speak the problem is, that bot accounts can't create ephemeral posts. Setting the user name and user icon manually doesn't seam ideal.

I opened a discussion at https://community.mattermost.com/core/pl/4t54caacc3b978irq3u86qnfsr

[2019-04-17 10:44] hanzei commented on #63
Technically speak the problem is, that bot accounts can't create ephemeral posts. Setting the user name and user icon manually doesn't seam ideal.

I opened a discussion at https://community.mattermost.com/core/pl/4t54caacc3b978irq3u86qnfsr

[2019-04-17 14:52] TKussel opened #64 "Bot crashes after one notification: "unexpected EOF""
After one notification the bot crashes and refuses any further command. Neither new ```/remind``` commands, nor the buttons in the notification work. Here's a snippet of the log file. It starts with the creation of a test one minute reminder:
[code]

[2019-04-17 16:10] hanzei commented on #64
What server version are you using @TKussel?

[2019-04-18 03:00] scottleedavis commented on #63
Going to take that on. https://github.com/mattermost/mattermost-server/issues/10640

[2019-04-18 05:45] scottleedavis commented on #62
Thanks @JtheBAB for finding this!   This bug is fixed in release 0.1.3.  :)

https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.1.3

[2019-04-18 05:45] #62 closed

[2019-04-18 05:47] scottleedavis commented on #63
As a stop gap @JtheBAB and @hanzei  I have enabled ephemeral command responses, and left commented code in to renable once ephemeral bot posts are working.  (scheduled for 5.12)

This is done in v0.1.3 https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.1.3

[2019-04-18 05:49] scottleedavis opened #65 "Enable ephermal posts for responses instead of ephemeral command responses"
Currently the code is commented out in command.go.

This is dependant on work done on the server, schedule for release 5.12.

https://github.com/mattermost/mattermost-server/issues/10640

[2019-04-18 05:50] #63 closed

[2019-04-18 05:53] scottleedavis commented on #64
@TKussel  could you try the latest release?
https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.1.3

Could you also report the output from the following command before doing reminders?
`/remind __user`
It should display the locale and location of the current user if it exists.  (problems if they don't)

[2019-04-18 07:35] TKussel commented on #64
I tried v0.1.13 under Debian stretch (i.e. server dist plugin-linux-amd64)
```/remind __user``` outputs ```en Local``` and the problem persists in v0.1.13

[2019-04-19 15:46] scottleedavis commented on #64
@TKussel I was able to reproduce the behavior on debian stretch.

<img width="1665" alt="Screen Shot 2019-04-19 at 8 09 02 AM" src="https://user-images.githubusercontent.com/2914443/56431035-5780be80-627d-11e9-8337-6921c2e427cc.png">

I Then set siteURL in configuration.  After that, the plugin runs as expected.

![debian-stretch](https://user-images.githubusercontent.com/2914443/56431640-53ee3700

[2019-04-19 16:05] scottleedavis commented on #64
Reading through your original issue, I don't think I have replicated it yet.

[2019-04-20 17:28] scottleedavis commented on #64
@TKussel I was able to replicate the situation on debian stretch, where the triggered reminder wouldn't happen and wasn't been saved properly leaving things in an incorrect state.  released a new version v0.1.5 , hoping that solves it for you.  If not lets keep at it.  :)

[2019-04-23 07:31] TKussel commented on #64
@scottleedavis Thanks fo all your effort! Silly me had still a temporary siteURL in the configuration. Correcting that fixed my issue!

[2019-04-23 07:31] #64 closed

[2019-04-23 15:35] scottleedavis opened #66 "the plugin should be cluster aware"
![21A38D8D-F339-42F1-A4EC-72D614F3E2DE](https://user-images.githubusercontent.com/2914443/56595017-b65a7680-65a2-11e9-9ccd-597bb4f0d038.png)

[2019-04-23 15:44] scottleedavis opened #67 "Handle < 1 day recurring reminders"
@cpanato reported in channel on community.mattermost.com:

i tried to issue this command: `/remind me to take a break every 45 minutes` but got an error

Slack does not support recurring reminders under the day time span.  Perhaps this plugin should?  Open to thoughts.

[2019-04-24 13:22] cpanato commented on #67
i was thinking more about this and we need to limit as well like
`/remind me to take a break every 45 minutes between 8-17` or `/remind me to take a break every 45 minutes during weekdays` or something like that

otherwise you can get messages when you dont want :) but also there is a case that you want :)

[2019-04-24 15:30] scottleedavis commented on #66
a PR https://github.com/scottleedavis/mattermost-plugin-remind/pull/68 does a simple naive solution.  evaluating currently

[2019-04-24 16:08] hanzei opened #69 "Post /remind list in the same channel"
The list created via `/remind list` should be posted as a ephemeral message in the same channel as the command.

See https://community.mattermost.com/core/pl/1wpofu9qktni8g3jbd5kguoseh for the discussion.

[2019-04-24 16:41] scottleedavis opened #70 "KVCompareAndSet for cluster locking (server v5.12)"
https://community.mattermost.com/core/pl/jja31qxuf3ggidi6jpbua1oaby

[2019-04-24 16:48] scottleedavis commented on #70
// KVCompareAndSet will update a key-value pair,
	// unique per plugin, to the given new value if the current value == the old value.
	// Inserts a new key if oldValue == nil.
	// Returns (false, err) if DB error occurred
	// Returns (false, nil) if current value != old value or key already exists when inserting
	// Returns (true, nil) if current value == old value or new key is inserted
	//
	// M

[2019-04-25 05:38] scottleedavis commented on #37
https://github.com/mattermost/mattermost-server/issues/10627

[2019-04-26 02:12] scottleedavis commented on #66
Appears to work!

[2019-04-26 02:12] #66 closed

[2019-04-26 02:27] scottleedavis commented on #67
I like the idea though not immediately sure how to set the boundaries.

 '/remind me hey every second' is a tax on the system if distributed and also likely wasteful.  Maybe not though?

'/remind me take a break every 45 minutes  weekdays between 9am and 5pm' could work... But not sure the final patterns supported.

@esethna do you have thoughts?  Slack didn't do this for some reason and I am not

[2019-04-26 03:14] scottleedavis commented on #65
No dependent... enhanced really

[2019-04-26 04:19] scottleedavis commented on #69
@hanzei I am having some issues that I will bring up on the extensions channel.  https://community.mattermost.com/core/channels/developer-toolkit

You are welcome to also help me debug if you have time, here is the branch https://github.com/scottleedavis/mattermost-plugin-remind/tree/Issue%2369_%2365

Updating the ephemeral post (for example with paging) seems to work and then stop after 1 or 2 in

[2019-04-26 04:38] scottleedavis commented on #65
https://github.com/scottleedavis/mattermost-plugin-remind/tree/Issue%2369_%2365

[2019-04-26 05:39] scottleedavis opened #71 "bugs found in functional testing on cluster"
~~### 1) display time is correct on local, but not on cluster~~ . fixed by timezone fix
<img width="417" alt="right-display-local" src="https://user-images.githubusercontent.com/2914443/56785540-854c9280-67aa-11e9-8ffb-0941c1d535e4.png">
<img width="402" alt="wrong-display-community" src="https://user-images.githubusercontent.com/2914443/56785545-8a114680-67aa-11e9-86ab-f0bfe4db9aa0.png">

~~### 2

[2019-04-26 16:00] scottleedavis opened #73 "Add webapp feature for reminders from post 'more actions' ellipsis"
Slack has this feature.
![slack-reminder-ellipsis](https://user-images.githubusercontent.com/2914443/56820821-bd32f480-6801-11e9-89a3-db114a11e22d.gif)

[2019-04-26 18:04] zvukoper commented on #73
That would be fantastic!!!!

[2019-04-26 22:59] scottleedavis opened #74 "Add 'delete' and 'view reminders' button to command reponse"
![Screen Shot 2019-04-26 at 3 58 31 PM](https://user-images.githubusercontent.com/2914443/56840410-3d764b80-683c-11e9-8db1-ecb846d6928b.png)

[2019-04-27 17:16] scottleedavis opened #75 "`/remind` by itself opens up interactive dialog to set reminder"
https://docs.mattermost.com/developer/interactive-dialogs.html

[2019-04-28 00:15] scottleedavis commented on #71
`/remind me check at <some time>` is not triggering

[2019-04-28 00:18] scottleedavis commented on #71
'/remind me call mom tomorrow ' is not parsing

[2019-04-28 01:50] scottleedavis commented on #65
holding off solving 'remind list' for now (need to solve the update ephemeral post issue)

[2019-04-28 01:50] #65 closed

[2019-04-28 03:48] scottleedavis commented on #70
waiting for 5.12

[2019-04-28 04:31] scottleedavis commented on #71
look at a call, it appears 'at' when handling is going to next day
`{67nfrrwq5if6ietem9k8i8j
dho skawtus me work at 9:30pm {67nfrrwq5if6ietem9k8i8jdho y1jsaejehtgqzm3gmjb91burdr skawtus you work at 9:30pm [{k
s9p1aan9jyef845prz149aoua skawtus y1jsaejehtgqzm3gmjb91burdr  2019-04-28 21:30:00 +0000 UTC 0002-02-02 00:00:00 +00
00 UTC}] 0002-02-02 00:00:00 +0000 UTC}}`

[2019-04-28 06:24] zvukoper commented on #73
Is it possible to extend that feature further by adding not only "remind me about this", but "remind [who]" too?

[2019-04-28 14:52] scottleedavis commented on #73
While possible, I feel in this context the quick menu selection works be come slowee and less intuitive to target "who" @zvukoper...  Open to ideas though

[2019-04-28 16:34] scottleedavis opened #77 ""/remind me test tomorrow" doesn't parse"

[2019-04-28 16:37] scottleedavis opened #78 "'on <day>' choose the next week instead of coming <day>"
<img width="456" alt="onday" src="https://user-images.githubusercontent.com/2914443/56867377-33b62a80-6999-11e9-9843-7a132c2a3948.png">

[2019-04-28 16:43] scottleedavis opened #79 "recurring reminders trigger only once"
### on cluster?  on local?
<img width="447" alt="unclear if recurring is triggering on community" src="https://user-images.githubusercontent.com/2914443/56785606-cc3a8800-67aa-11e9-8f1f-e4ff17712e48.png">

[2019-04-28 18:04] #74 closed

[2019-04-28 20:36] scottleedavis commented on #75
![render-test](https://user-images.githubusercontent.com/2914443/56869818-87853b80-69ba-11e9-8008-82212de27ba9.gif)

Rendering, but having issues on the api currently.

[2019-04-28 21:03] scottleedavis opened #81 "use different URL for each integration action"
right now they all share the same url

[2019-04-28 21:25] scottleedavis commented on #81
https://github.com/matterpoll/matterpoll/blob/master/server/plugin/api.go#L76-L90

[2019-04-28 21:25] scottleedavis commented on #81
https://github.com/gorilla/mux

[2019-04-29 00:31] scottleedavis commented on #75
was merged in commit 48fdedb

[2019-04-29 00:31] #75 closed

[2019-04-29 08:56] hanzei opened #82 "Show ephemeral post after creating a reminder via an Interactive Dialog"
After creating a reminder via an Interactive Dialog no confirmation dialog is shown. It would help if the same message is shown as after the "normal" `/remind ...` command.

Follow up on https://github.com/scottleedavis/mattermost-plugin-remind/issues/75

[2019-04-29 08:57] hanzei opened #83 "Messanges in Interactive Dialog are not localized"
![Screenshot from 2019-04-29 10-56-45](https://user-images.githubusercontent.com/16541325/56885754-83662600-6a6d-11e9-8169-6819281e8dee.png)

Running on `master` of Mattermost Server

[2019-04-29 15:54] scottleedavis commented on #83
@hanzei if you are building the Plugin yourself, you will need to do a ‘make clean’ to pull in the latest i18n changes.  ?

[2019-04-30 04:30] scottleedavis commented on #82
fixed, will be released with 0.2.0

[2019-04-30 04:30] #82 closed

[2019-04-30 05:21] scottleedavis commented on #81
update to use gorilla/mux 86d2040

[2019-04-30 05:21] #81 closed

[2019-04-30 05:27] hanzei commented on #81
Awesome! :tada:

[2019-04-30 05:33] hanzei opened #84 "Pressing "View Reminders" after creating one via a dialog deletes it"
https://github.com/scottleedavis/mattermost-plugin-remind/blob/master/server/http.go#L152

Copy and past: The root cause of all evil :wink:

[2019-04-30 05:33] hanzei commented on #83
Thanks for the help! That fixed it.

[2019-04-30 05:33] #83 closed

[2019-04-30 07:44] erdemuysal opened #85 "Is it possible to make reminders for private channels?"
We use private channels on the company's mattermost server. Is it possible to grant Remindbot these channels?

[2019-04-30 15:31] scottleedavis commented on #79
Recurring reminders trigger only once and the buttons are incorrect.
![DBC7B462-A47A-4647-BAA2-E9515A750901](https://user-images.githubusercontent.com/2914443/56973768-5a539d00-6b22-11e9-9c64-cf99fca1e80b.png)
![CEBB2FD1-BC99-44FB-976F-5DDAF52E0F06](https://user-images.githubusercontent.com/2914443/56973770-5aec3380-6b22-11e9-8d38-033d1f19bdea.png)

[2019-04-30 15:39] scottleedavis commented on #85
@erdemuysal yes!

![AE993785-FC02-4CA3-863B-AD4A417A12D3](https://user-images.githubusercontent.com/2914443/56974236-4fe5d300-6b23-11e9-87cd-35494651d80f.png)

[2019-04-30 16:06] erdemuysal commented on #85
It was late when I realized I had to add Remindbot to the team and channel 😥

[2019-04-30 16:06] #85 closed

[2019-05-01 06:13] #77 closed

[2019-05-01 06:14] #78 closed

[2019-05-01 06:18] #84 closed

[2019-05-01 07:19] #79 closed

[2019-05-01 11:39] tgly307 opened #88 "plugin crash when add reminder"
I install the plugin and enable it, then test it with command `/remind list`, plugin return the message `No reminders` correctly.
When I use `/remind` command, the dialog can trigger correctly, but when I set the reminder with this way, plugin throw an error `unexpected EOF` and crash.
[code]
Then I tried to restart the plugin, it can't accept any command even `/remind list`, the error is also `un

[2019-05-01 14:10] scottleedavis commented on #88
@tgly307 I setup a docker server 5.10 (without nginx) to replicate a simple setup.  I set my sitURL to localhost:8065 (for the docker container internal).  I was able to schedule and interact with reminders both with typed and dialog commands without issue.

From your debugging,  I suspect API calls are not working correctly, and I am curious if your siteURL `demo.com` is valid for the container?

[2019-05-02 05:16] scottleedavis commented on #88
If siteURL is not to blame, I will try more so to replicate.

[2019-05-02 10:08] tschlue commented on #71
Mattermost Version: 5.10.0
remind Version: 0.2.0

![mmtimezonebug](https://user-images.githubusercontent.com/14072748/57068765-f4f2de00-6cd2-11e9-94d4-c99265dfaa8d.png)

[2019-05-02 17:05] tgly307 commented on #88
@scottleedavis hi, sorry for the late reply.
I have set siteURL to `http://localhost:8000` ( the image expose port 8000 in [docker-compose](https://github.com/mattermost/mattermost-docker) ), the problem still exists. And if I set siteURL to localhost, [other plugin](https://github.com/manland/mattermost-plugin-analytics) function will fail, such as supply image to user, the link of image will for

[2019-05-03 00:49] scottleedavis commented on #71
@tschlue could you share the command that produced this output?

[2019-05-03 01:40] scottleedavis commented on #88
@tgly307 do other plugins work?  (E.g. https://github.com/scottleedavis/mattermost-plugin-spybot or any others...)

I will do my best to replicate if so.

[2019-05-03 01:49] tgly307 commented on #88
Yes, all other plugins work fine. Including spybot and analysis bot

[2019-05-03 07:28] tschlue commented on #71
`/remind me in 1 min`

[2019-05-03 14:57] scottleedavis commented on #71
Ah!  that should return an error instead of schedule a reminder.  thank you.
`/remind me a message in 1 min` (e.g. /remind me|@user|~channel message time)

[2019-05-04 06:56] scottleedavis commented on #88
I have not been able to replicate the error but added a half dozen new npe protection checks.  please give this a try:
[v0.2.1](https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.2.1)

Also, if it doesn't work, could you share `/remind __user`?

[2019-05-04 12:06] tgly307 commented on #88
I install v0.2.1, but the problem still exists.
When I use command `/remind __user`, the response is
[code]

[2019-05-04 12:27] tgly307 commented on #88
There is something strange.
When I restart the plugin, I use command `/remind list,` it works ( to check if the plugin is working ). And I use command `/remind me eat in 2 seconds`, the system return "`Command with a trigger of '/remind' not found`", but I still can receive message from remindbot like this below:
![image](https://user-images.githubusercontent.com/25153311/57178884-ee6a8f00-6ea9-11

[2019-05-05 03:40] scottleedavis commented on #88
Ok!  I was able to replicate some of the behavior using [mattermost-docker](https://github.com/mattermost/mattermost-docker).

Could you please try [v0.2.2](https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.2.2) ?  Please disable/enable before usage too.  Also, existing reminders/buttons will not work, but new ones should.   *hopefully..* . :)

If that does't work, would yo

[2019-05-05 04:39] tgly307 commented on #88
Unfortunately, the issue still exists. T^T
The plugin still crashes when I add task to it, but I also can recieve message from the remindbot, but button can't work until plugin restart.
My `docker-compose.yml` and `app Dockerfile` are exactly the same as the official version except password of DB.
The image is based on alpine, so I guess the problem may come from the setting of the time zone.

[2019-05-05 15:57] scottleedavis commented on #88
Thank you for letting me know your setup, I was able to reproduce 100% of the time.

Running the log level at DEBUG level output, I noticed your guess about alpine & timezone was correct.

[code]
Looks like another has had this same issue on alpine, and [solved it](http://pouzek.si/blog/go-loadlocation-docker/) adding the tzadata apk to alpine.

From there, I changed mattermost-docker/app/Dockerfi

[2019-05-05 16:22] tgly307 commented on #88
It's a good solution to avoid other time zone issues.
In another plugin, I found a related [issue](https://github.com/standup-raven/standup-raven/issues/14). Does it possible to set the plugin's time zone `local` to avoid changing Dockerfile? To set time zone to local or UTC is accepted by mattermost server.

[2019-05-05 17:22] scottleedavis commented on #88
Thank you for that link...  It helps the case that mattermost-docksr app can provide tzdata.

While the plugin could only support local or UTC, this will not work for teams that span timezones, for example community.mattermost.com.

[2019-05-05 18:58] scottleedavis commented on #88
mattermost-docker accepted the PR!  Update to that and verify solution?

[2019-05-06 00:08] scottleedavis opened #90 "Recurring reminders are becoming past and incomplete"

[2019-05-06 00:54] scottleedavis opened #91 "Convert to using go modules"
Follow this example https://github.com/mattermost/mattermost-plugin-sample

[2019-05-06 01:11] tgly307 commented on #88
wow, that's great!

[2019-05-06 01:32] tgly307 commented on #88
I update the Dockerfile and it works as expected! Thanks for working on it. The issue can be closed if you want. :)

[2019-05-06 04:46] scottleedavis commented on #88
👍

[2019-05-06 04:46] #88 closed

[2019-05-06 08:46] tschlue commented on #71
Okay, but this doesn't fix the time problem.

[2019-05-06 08:48] tschlue commented on #71
I think would like to use empty messages, just to remind me to look at mattermost or to wakeup a channel.

[2019-05-06 15:43] scottleedavis commented on #71
For empty messages you can use empty double quotes.  e.g. `/remind me "" in 1 min`.  Slackbot doesn't permit empty messages except in this fashion as well.

I hadn't noticed the time issue until now.  Could you share `/remind __user` ?   What server tech are you using?  docker?   debian?  other?  Could you try Experimental -> timezone enabled?

[2019-05-06 15:47] tschlue commented on #71
System
17:46(Only visible to you)
×
locale: en
location: America/Atikokan

[2019-05-06 15:59] momoangel opened #93 "No response from buttons"
Good Morning!  Thank you for working on this awesome plugin.  I just added it to my dev environment.  the reminders seem to work - but I get no reaction from any of the buttons. :-\  I can click Mark complete, Delete, choose to snooze from the dropdown, and view reminders and nothing seems to happen.  Any ideas?

Thank you!
J

[2019-05-06 16:18] scottleedavis commented on #93
Good morning @momoangel !

Could you share your log with DEBUG enabled when you try to click any of the buttons?

[2019-05-06 16:46] momoangel commented on #93
Looks like I get a 400 error:

{"level":"error","ts":1557160921.1160393,"caller":"mlog/log.go:172","msg":"Action integration error","path":"/api/v4/posts/rqoq1qoafi8wfb98iy8hf8z98y/actions/xsrwjzifd3nepbfz863s3ej7py","request_id":"redacted","ip_addr":"##.##.##.##","user_id":"redacted","method":"POST","err_where":"DoActionRequest","http_code":400,"err_details":"status=400"}

[2019-05-06 20:20] scottleedavis commented on #93
Is the Listen address and siteurl set in server configuration?

What is os is your system running on?

[2019-05-06 20:56] momoangel commented on #93
yes - both siteurl and listen address are set.  It's Ubuntu

[2019-05-07 01:36] scottleedavis commented on #93
@momoangel could you try the bot-test plugin?
https://github.com/scottleedavis/mattermost-plugin-bot-test/releases/tag/v0.1.1

`/test-button`
`/test-button2`

if test-button fails, uninstall reinstall the plugin.  then try test-button2

please let me know if both, or either, or neither works.  :)

[2019-05-07 04:38] scottleedavis commented on #71
@tschlue could you try the bot-test plugin to see if it matches the header time of the post?
`/test-time` returns time.  should match post header
https://github.com/scottleedavis/mattermost-plugin-bot-test/releases/tag/v0.1.2

[2019-05-07 09:19] tschlue commented on #71
![grafik](https://user-images.githubusercontent.com/14072748/57288546-f4cf5580-70b9-11e9-912f-655ea14a564c.png)

[2019-05-07 15:21] momoangel commented on #93
test-button fails, but test-button2 works

Thank you!

[2019-05-07 15:43] scottleedavis commented on #93
updated latest version to follow the working button interaction.  Please let me know if it is fixed for you!

https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.2.3

[2019-05-07 16:22] momoangel commented on #93
It works!! :-)  Thank you!

[2019-05-07 16:22] #93 closed

[2019-05-08 04:45] scottleedavis commented on #71
@tschlue I could replicate this by changing my timezone on my laptop.  I could also fix it by enabling experimental timezone support.  Would you try that out and let me know?

System Console -> Experimental Features -> Timezone  = true

[2019-05-08 06:21] tschlue commented on #71
@scottleedavis This fix the problem apparently but is this necessary?

[2019-05-08 07:04] scottleedavis opened #94 "Create webapp tz sample when not experimental tz true"

[2019-05-08 07:06] scottleedavis commented on #71
@tschlue No, however it is quickest.  I created https://github.com/scottleedavis/mattermost-plugin-remind/issues/94 to take webapp timezone detection into account.

[2019-05-08 07:06] #71 closed

[2019-05-08 07:24] tschlue commented on #71
thanks

[2019-05-08 23:21] scottleedavis opened #95 "Paging numbers can be incorrect"
![May-08-2019 16-19-05](https://user-images.githubusercontent.com/2914443/57414510-41e02400-71ad-11e9-97d8-d216868674bf.gif)

[2019-05-09 15:32] scottleedavis commented on #95
May be related to recurring reminders in bad states

[2019-05-09 15:37] scottleedavis commented on #73
Have made good progress and learning on this.

Having a submenu in the post action menu will be tricky as the menu registry expects it to only be text.  Not impossible though to modify webapp to allow it.

Next best is a single menu item that opens up an interactive dialog.  Currently this isn't possible as dialogs need a triggerId and that isn't currently possible from a webapp interaction.

I fo

[2019-05-10 19:02] scottleedavis opened #96 "Trim trailing white space on slash command"
This will help in mobile where word suggestion adds a space

[2019-05-10 19:20] scottleedavis opened #97 "Create public api for scheduling reminders"
Shareable between plugins

[2019-05-11 04:21] #96 closed

[2019-05-13 00:15] scottleedavis commented on #69
Created an issue for mattermost-server for UpdateEphemeralPost only handling one update.  https://github.com/mattermost/mattermost-server/issues/10832

[2019-05-13 18:26] scottleedavis commented on #69
Turns out, I was wrong and it is possible to repeatedly update an ephemeral post.  Going to continue this issue.

[2019-05-14 15:29] scottleedavis commented on #90
This has observed as inconsistently rescheduling or setting to past and incomplete.

[2019-05-15 00:02] scottleedavis opened #98 "Cluster safe triggered reminders"
This was apparently working and now not.
![9571F989-F3B7-466E-839F-0F38C5030E45](https://user-images.githubusercontent.com/2914443/57739870-07bdc900-766a-11e9-9d0b-b4dd6cec3945.png)

[2019-05-15 04:30] scottleedavis commented on #69
Completed with PR #99

[2019-05-15 04:30] #69 closed

[2019-05-16 02:21] tgly307 opened #100 "No response frome button view reminders"
I install v0.2.5 in MM v5.10, when I add a remind, the view reminders button in post message has no response. The issue is similar with #93
![image](https://user-images.githubusercontent.com/25153311/57821806-79118f00-77c4-11e9-8836-1b51a7b5304c.png)
But there is no error log with this plugin

[2019-05-16 05:48] scottleedavis commented on #100
Confirmed, thank you @tgly307 !  I will get to this asap.  :)

[2019-05-17 00:39] scottleedavis commented on #100
@tgly307 the problem should be fixed in 0.2.6
https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.2.6

[2019-05-17 01:42] tgly307 commented on #100
@scottleedavis thanks a lot!
I have test v0.2.6 on MM 5.11, it works fine.
I will close this issue.

[2019-05-17 01:42] #100 closed

[2019-05-18 04:43] scottleedavis commented on #73
@zvukoper @esethna Here is the state of things on post drop down reminder scheduling.
I haven't gotten a response from mm on adding submenu's to the post drop down menu, or if interactive dialogs can be scheduled from the webapp.  (though the later has a discussion around it)  However, I am able to get the flow working with a test for '1 hour' scheduling from the post drop down menu.

![dropdown](

[2019-05-18 19:35] savauln opened #101 "plugin crash after any command"
I have crash reminder-plugin after send any command
`
{"level":"info","ts":1558205030.1905644,"caller":"go-plugin/stream.go:15","msg":"2019/05/18 18:43:50 RPC call to LogError API failed: gob: gob: cannot encode nil pointer of type *model.AppError inside interface","plugin_id":"com.github.scottleedavis.mattermost-plugin-remind","source":"plugin_stderr"}
{"level":"info","ts":1558205030.192845,"call

[2019-05-18 19:59] scottleedavis commented on #101
@savauln what version of mattermost are you running and the host operating system (or if it is mattermost-docker)?

[2019-05-19 17:21] savauln commented on #101
5.11.0 and i use official docker image mattermost/mattermost-team-edition

[2019-05-19 21:12] scottleedavis commented on #101
Do these commands work (after uninstall/reinstall/reactivate), without any other commands?  What does the following return if so?
`/remind __user`

[2019-05-20 00:35] #70 closed

[2019-05-20 00:37] scottleedavis commented on #98
https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.2.7

[2019-05-20 00:45] scottleedavis commented on #98
Validated locally.  Awaiting community deploy and validation

[2019-05-20 01:20] scottleedavis commented on #101
Also, is the `siteURL` set?

[2019-05-20 15:02] #98 closed

[2019-05-20 19:27] savauln commented on #101
"SiteURL": "https://mattermost.webpower.ru"

/remind __user
[code]

[2019-05-21 01:45] scottleedavis commented on #101
I appologize @savauln , I have been having issues getting 5.11.0 mattermost/mattermost-team-edition docker image running successfully.  I am used to the mattermost/mattermost-docker docker-compose approach, or the Docker Preview Image approach.  Perhaps you could help me get the equivalent running locally so I can reproduce the error?

Here is what I am getting after `docker run --name mattermost-

[2019-05-21 01:54] scottleedavis commented on #101
I am running a database with matching password at 3306

[2019-05-21 20:37] scottleedavis commented on #101
@savauln I was able to get the mattermost-team-edition container to connect to a db at 3306, but I couldn't reach it via localhost:8065 using this:

`docker run --name mattermost-team-edition -d --publish 8065:8065 --network="host" mattermost/mattermost-team-edition:5.11.0`

I couldn't find setup usage for mattermost-team-edition, is the run command/setup something you could share?
https://docs.ma

[2019-05-21 21:48] scottleedavis commented on #91
https://github.com/scottleedavis/mattermost-plugin-remind/pull/103

[2019-05-21 21:51] #91 closed

[2019-05-21 22:21] scottleedavis commented on #101
@savauln I was able to get the container mattermost/mattermost-team-edition running, though I wasn't able to replicate your issue.   (No problem in upload remind plugin, and run/interact with it)

Are there changes you have made to config/config.json beyond siteURL, sqlsettings->datasource and pluginsetting->enableuploads?  I am curious what would be different enough to break things.

[2019-05-21 22:25] scottleedavis commented on #101
Do any other plugins work?
https://github.com/scottleedavis/mattermost-plugin-spybot ?
https://github.com/scottleedavis/mattermost-plugin-bot-test ?

[2019-05-21 22:25] scottleedavis commented on #97
This will have to wait until HTTP apis are shared between plugins.

[2019-05-21 22:25] #97 closed

[2019-05-21 22:36] scottleedavis commented on #31
Noble goal!  My local says 60.3%, and codecov says 51%.  For now, closing this as it helped me get to where it is at.  Will increase it over time.

[2019-05-21 22:36] #31 closed

[2019-05-21 22:37] scottleedavis commented on #37
closing this as it is an external dependency, and it will be handled in time.

[2019-05-21 22:37] #37 closed

[2019-05-22 01:44] scottleedavis commented on #94
I feel this isn’t a good solution.  Will address the issue if needed.

[2019-05-22 01:44] #94 closed

[2019-05-22 11:06] towolf opened #104 "Error: failed to initialize translations OnActivate message: unable to find i18n directory"
The plugin won't start for me, I think it is searching the wrong paths for i18n.

Strace:
[code]

But the dir is here:
[code]

Config:
[code]

Trace in the log
[code]

[2019-05-22 11:09] towolf commented on #104
Creating a symlink is a workaround.

[2019-05-22 16:38] scottleedavis commented on #104
https://github.com/scottleedavis/mattermost-plugin-remind/pull/105

[2019-05-22 16:41] scottleedavis commented on #104
@towolf Thank you!  I pull from the config.json to set the plugin i18n path now.  Please try the latest release and see if it solves the problem.  :)
https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.2.8

[2019-05-23 03:30] #95 closed

[2019-05-23 15:29] scottleedavis opened #106 "When interacting with elements in `/remind list` on a page, stay on same page"
* currently the list switches back to the beginning of the list

[2019-05-24 01:25] rosskusler opened #107 "Would it be possible to add a "weekday" specifier"
Is it possible to specify something like, '/remind me to join the morning meeting every weekday at 8:30 am' ?  It doesn't accept weekday or monday-friday.  Do I have to set five separate reminders for each of Monday/Tuesday/Wednesday/Thursday/Friday?

[2019-05-24 01:31] scottleedavis commented on #107
@rosskusler great point about weekdays.
This currently works "/remind me test every Monday,Tuesday,Wednesday,Thursday,Friday"
However a weekday keyword would be nicer.  Adding this as a todo.

[2019-05-24 07:49] rosskusler commented on #107
Ahh... ok I see how that works.  Thank you @scottleedavis !!

[2019-05-24 17:35] #90 closed

[2019-05-24 17:54] scottleedavis commented on #101
Have you tried disabling and enabling the plugin?

[2019-05-25 04:01] #106 closed

[2019-05-25 04:04] scottleedavis commented on #107
@rosskusler Added in release 0.3.0 https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.3.0

`/remind me head home every weekday at 5pm`

Please file any issues you find!

[2019-05-25 04:04] #107 closed

[2019-05-25 04:07] scottleedavis commented on #104
please reopen if you find this was not solved with the latest plugin.  :)

[2019-05-25 04:07] #104 closed

[2019-05-25 07:33] towolf commented on #104
Thanks @scottleedavis! Verified working with v0.2.8 after deleting symlink workaround.

[2019-05-25 07:34] towolf commented on #104
And thanks for the plugin, my colleagues are thrilled!

[2019-05-25 07:40] towolf commented on #73
How about 3 new menu items? `1 hour`, `tomorrow`, `next week`

[2019-05-25 18:57] scottleedavis commented on #73
@towolf I am currently planning on staying with 1, and use the InteractiveDialog to select which time.  https://github.com/mattermost/mattermost-server/pull/10914

If we get submenus in post menu dropdowns I'd aim towards that.

I feel more than one addition to the menu is to cluttered.  3/5 on this.  :)

[2019-05-27 07:13] grubbins opened #108 "Incorrect behaviour in some cross-timezone cases"
Even with timezone support enabled in mattermost, several scenarios don't work correctly cross-timezone.

Example:
 * Server is in Sydney timezone
 * Client is in Chicago timezone
 * On Friday afternoon (Chicago time), say `/remind me something tomorrow`. It will state that it is going to remind you at 9AM Sunday.
 * Similarly, at 2PM (Chicago time), say `/remind me something at 4PM`. It will stat

[2019-05-27 07:21] grubbins opened #109 "Lookup of server timezone in go-timezone library is unnecessary and may break behaviour"
In the case that timezone support is disabled in mattermost, the plugin obtains the `Local` timezone which will be the server's timezone.

However it then attempts to get a string representation of that timezone, look up a tzfile name for that string via the `go-timezone` library, and instantiate a zone object from that tzfile name. This extra process seems completely redundant - the best case is

[2019-05-28 00:34] #109 closed

[2019-05-28 00:40] #108 closed

[2019-05-28 01:11] #27 closed

[2019-05-28 12:12] poVoq opened #112 "Issues with Android app"
Not quite sure how to explain, as there are various issues, but it does not seem to work as intended with the Mattermost Android app.

The overall responses are very sluggish and the buttons don't seem to work most of the time etc.
I does appear to work in general though, so sorry for this not very precise bug report.

Maybe this is a general issue with the mobile app and plugins?

But thanks a lo

[2019-05-28 14:54] scottleedavis commented on #112
Hi @poVoq , it is a known issue with the current mobile app (android and ios) that most of the buttons in remind will not function.
https://github.com/mattermost/mattermost-mobile/issues/2807
https://mattermost.atlassian.net/browse/MM-15084

I believe the fix will be in by the next release (1.20 i think), or before or around June 16th.

As far as lag goes in interaction, I have occasionally experi

[2019-05-28 15:40] poVoq commented on #112
OK lets wait for the client update then. I'll close this when confirmed working.

[2019-05-30 14:18] scottleedavis opened #113 "Remind list issues with weekday"
When "weekday" is used as recurring when word, it breaks the list feature and repeats the reminder.

![E1C2A8CC-CFC4-42F1-A577-20809B59E119](https://user-images.githubusercontent.com/2914443/58639076-0ec01a80-82ab-11e9-82bb-f3632cb449de.png)

[2019-05-31 04:02] zvukoper opened #114 "Reminder "in X" works fine but displayes "tomorrow""
Small text display bug?

1. Set reminder /remind me "test" in 10 seconds.
2. Bot says it will be triggered tomorrow.
3. It triggers just fine in time and today.

![image](https://user-images.githubusercontent.com/511118/58680757-a47aa900-8382-11e9-8fc7-7d6ee0a42b6f.png)

[2019-05-31 04:07] scottleedavis commented on #114
@zvukoper are you using v0.3.1?  T that version vs. 0.3.0

I believe this got fixed in 0.3.1 (didnt have this issue locally), are you using that version?

[2019-05-31 04:15] zvukoper commented on #114
Sorry, I've missed that release. I've seen the new release 3 days ago, installed it and you've fired 0.3.1 just after that. Downloading it now and installing. I'l llet you know in a minute.

[2019-05-31 04:16] zvukoper commented on #114
Yep! It is fixed. Thanks!

[2019-05-31 04:16] #114 closed

[2019-06-02 15:26] scottleedavis opened #115 "Command with a trigger /remind not found"
Reposting for @tungle
Hi, suddenly I got this error "Command with a trigger /remind not found". What just happened? (I can still remind myself though, like "/remind me ...." )
![report](https://user-images.githubusercontent.com/1575905/58752579-6cd34480-84db-11e9-922f-a372cda248ce.png)

[2019-06-03 10:31] tungle commented on #115
@scottleedavis hey, tks. The version with quote still doesn't work, as below. Could you check. One thing I recognized though, if I disable the plugin then re-enable it, it works for a while, then crash again
![image](https://user-images.githubusercontent.com/1575905/58795612-4d483300-8625-11e9-9f84-9900e9e104af.png)

[2019-06-03 15:53] scottleedavis commented on #115
@tungle could you share the logs when this happens?  Also what server and os are you running?

[2019-06-03 16:30] scottleedavis commented on #115
I am currently not able to repro given this information, on 5.11 & v0.3.1.  Trying to see what might be going on.

[2019-06-03 16:43] abergs opened #116 "Include link in reminder to the conversation where i type "/remind me 2h""
My use case is that:

when I'm in the middle of something and a team member asks me "Can you schedule a meeting to do this?". (This being something we have been discussing in the channel)

I would like to type /remind me 2h.

I would then like the reminder to be
"You asked me to remind you of [this](link-to-message)".

where link-to-message is the permalink to the message before i wrote "/remind m

[2019-06-03 18:21] scottleedavis commented on #116
@abergs would this use case cover your request?  https://github.com/scottleedavis/mattermost-plugin-remind/issues/73

This should be working by release 5.13 I believe.

[2019-06-05 05:02] scottleedavis opened #117 "update to mattermost-server 5.12"

[2019-06-05 08:02] abergs commented on #116
If in anyway it would be possible to make a written one that'd be even better because that'd be most intuitive. Would it be possible with the current API's of mattermost?

The example of this working quite well is actually how reddit reminders work, where you just comment with "!remindme 12h".

[2019-06-05 18:35] scottleedavis opened #118 "parse missing 'whom' as 'me'"
requested by @zvukoper

e.g. `/remind test this in 12 hours` , without a target, default to 'me'.

Slackbot has this behavior.

[2019-06-05 18:44] scottleedavis commented on #116
@abergs I am trying to stay close to the slackbot `/remind` syntax.  There was a recent request for omited target defaults to 'me' https://github.com/scottleedavis/mattermost-plugin-remind/issues/118 s, and since slackbot does that it sounds fine.

I am a little hesitant to add this behavior in the written/typed way beyond what https://github.com/scottleedavis/mattermost-plugin-remind/issues/73 wi

[2019-06-05 18:55] abergs commented on #116
I am 👍 for the defaults to me and staying close to the slack implementation.

Regarding reminding about a message, if it shouldn't be a included by default, perhaps including a small token (`^`) to the message could trigger the link to be included.

E.g. `/remind me ^ 1h` or `/remind me "Check this^ before deploying to prod` 1h`.

Worst case I get a reminder with my text and a extra link to "when/

[2019-06-06 17:44] tungle commented on #115
HI @scottleedavis, sorry for late rep.
Mattermost Version: 5.10.0
Database Schema Version: 5.10.0
Database: mysql

Plugin version: 0.1.9.
Am I too far behind on plugin version?

[2019-06-06 17:57] scottleedavis commented on #115
Try version 0.3.1 and we will go from there?

[2019-06-07 12:56] jkvd17 commented on #115
HI @scottleedavis, I have the same problem.
Mattermost Version: 5.11.0
Database Schema Version: 5.11.0
Database: mysql

Plugin version: 0.3.1.
In logs:
`
{"level":"info","ts":1559910365.788396,"caller":"mlog/log.go:164","msg":"Starting up plugins"}
{"level":"error","ts":1559910372.8949358,"caller":"mlog/log.go:172","msg":"RPC call to OnActivate plugin failed.","plugin_id":"com.github.scottleedavis

[2019-06-07 16:01] scottleedavis commented on #115
@jkvd17 & @tungle
Could either or both of you try the following release?
https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.3.1.issue_115

It has logging in the OnActivate function, you should see
[code]

if anything is missing that will help to identify where the issue might be.

[2019-06-07 16:06] scottleedavis commented on #101
Closing do to inactivity.  Can reopen/revisit if needed.

[2019-06-07 16:06] #101 closed

[2019-06-07 16:10] scottleedavis commented on #116
@abergs I think the idea is pretty neat, though I am still on the fence about implementation.  One could accomplish the same thing with copying the post permalink, and creating markdown, e.g.
`/remind me "check [this](permalink) before deploying to prod" 1h`

On one hand I want to make remind have useful features, and the other I would like it to stay as simple as the original design slack made.

[2019-06-07 16:40] scottleedavis commented on #118
Added as part of release 0.3.2 https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.3.2

[2019-06-07 16:40] #118 closed

[2019-06-07 18:58] jkvd17 commented on #115
Well, on Monday I'll try this version.
In version 0.3.1, after installation, the bot does not appear in the user list.

[2019-06-10 06:54] jkvd17 commented on #115
Install [https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.3.1.issue_115](url)
Logs:
`{"level":"error","ts":1560149171.2524133,"caller":"mlog/log.go:172","msg":"RPC call to OnActivate plugin failed.","plugin_id":"com.github.scottleedavis.mattermost-plugin-remind","error":"unexpected EOF"}
{"level":"error","ts":1560149171.271516,"caller":"mlog/log.go:172","msg":"RPC call OnC

[2019-06-11 16:07] ewwollesen opened #120 "None of the buttons respond"
This is, I guess, similar to #93 and #100, but in our production environment the plugin works, but none of the buttons such as "mark as complete", "view reminders", or "delete" do anything. Here is the error we get in the logs:

[code]

We're running MM version 5.10.1 running on RHEL and plugin version 0.3.1. What's interesting is that is works fine in our test environment, and both prod and test

[2019-06-12 06:57] scottleedavis commented on #115
@tungle is your mattermost install's siteURL set?

[2019-06-12 07:01] scottleedavis commented on #115
@jkvd17 I setup a vmware + ubuntu 18.04 + mattermost 5.11 install, and could not replicate your error.  Another mattermost user in the [community developers](https://community.mattermost.com/core/pl/m6wwhbgot3g5igiy5y5pytqrto) channel had this exact same error.  I am still trying to replicate it.

[2019-06-12 07:15] scottleedavis commented on #120
@ewwollesen As the error looks to be a timeout on the request, I suspect something different setup for the network/firewall that may be 'sinking' the plugin button callback to `http://chat.ssctech.com/plugins/com.github.scottleedavis.mattermost-plugin-remind/*`.  That is my hunch and may not be correct, though in hearing you say that the test environment works I am curious to know what exactly is

[2019-06-12 08:53] tungle commented on #115
@scottleedavis after upgrading to version 0.3.1 it's all good for me now. Thanks

[2019-06-12 13:44] ewwollesen commented on #120
We don't use any other plugins (yet) so I can't confirm that. I had the same suspicion that it's something on our firewall or load balancer that's causing it, but sometimes those guys can be difficult to engage and get help from. I'll talk to them and see if there are any differences in configuration between test and prod on that end and get back with you.

[2019-06-12 16:27] scottleedavis commented on #115
@jkvd17 I am sorry this isn't working.  On recommendation, I setup logging not through the plugin API to see what is going wrong.  Could you try this logging version just updated please?
https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.3.2.issue_115

you should see output like
[code]

[2019-06-12 17:13] jkvd17 commented on #115
@scottleedavis, thanks, i install ver. 0.3.2. Send logs on Thursday.

[2019-06-12 21:38] scottleedavis commented on #115
posted by @sapnasivakumar ![image](https://community.mattermost.com/files/dk6q8aeq1jfszmt9pxdc3791oy/public?h=uLkaTnIraQVybdRcCluJ6Xe0DHHAG20JL6h6eDcdpDk)

a place of 'where' seems determined.  curious to know if it is the same place/fix for yours @jkvd17 .

[2019-06-12 21:55] scottleedavis commented on #115
also, do you have a siteURL set in config?

[2019-06-13 07:12] jkvd17 commented on #115
@scottleedavis, siteURL is not set in config.
Logs from ver. 0.3.2
<pre>
</code>
{"level":"info","ts":1560409260.6738114,"caller":"go-plugin/stream.go:15","msg":"REMIND: OnConfigurationChange","plugin_id":"com.github.scottleedavis.mattermost-plugin-remind","source":"plugin_stdout"}
{"level":"info","ts":1560409260.6740112,"caller":"go-plugin/stream.go:15","msg":"REMIND: GetConfig","plugin_id":"com.

[2019-06-13 14:35] scottleedavis commented on #115
@jkvd17 SiteURL must be set for the remind plugin to work.  Thank you for sharing logs!

[2019-06-14 17:24] scottleedavis commented on #115
@jkvd17 https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.3.3 blocks plugin activation if no siteURL exists.  This was the cause of the error.

[2019-06-14 17:24] #115 closed

[2019-06-14 20:57] scottleedavis opened #121 "Remove UnregisterCommand"
No longer necessary.

https://github.com/mattermost/mattermost-server/pull/10086

[2019-06-15 15:41] getrich20 opened #122 "installing"
I know this is the wrong place to post this but can I please have some help installing this on my local mattermost instance. Is there any good guide I can use? I downloaded the tar and uploaded it to the plugin section, installed go 1.12 and dep but still unable to use the plugin :(

[2019-06-15 16:38] scottleedavis commented on #122
Sure thing @getrich20.  It sounds like you have mattermost running locally, is the SiteURL configured in the configuration section of the system console?  Is the plugin enabled?  What errors are you seeing in the logs?

[2019-06-15 16:43] getrich20 commented on #122
No the url is not configured in the setting but I do have my wan hosting
forwarding to Mattermost successfully already. The plugin is enabled, will
I see errors in the log of the plug in uploaded successfully? I try to use
the /reminder command and the slash word never appears.

On Sat, Jun 15, 2019 at 11:38 AM scott lee davis <notifications@github.com>
wrote:

[2019-06-15 16:49] scottleedavis commented on #122
The SiteURL must be set in order for the plugin to function.  There will be an error in the logs saying site url must be set when plugin activated.  Remember a port may also used.  Something like http://localhost:8635.  After that, the slash command is /remind

[2019-06-15 16:54] getrich20 commented on #122
Okay cool I will give it a try soon as I get home. Thanks soo much for the
quick response!!! We are trying to incorporate this with my job and I was
banging my head trying to get it to work.

On Sat, Jun 15, 2019 at 11:49 AM scott lee davis <notifications@github.com>
wrote:

[2019-06-16 00:30] getrich20 commented on #122
That did the trick I was able to get the plugin up and running
successfully. Thank you so much for your time and help.

[2019-06-16 00:36] #122 closed

[2019-06-16 00:41] scottleedavis commented on #67
Opening this up to help wanted.  Would be a great feature added.

[2019-06-16 01:03] #121 closed

[2019-06-16 02:35] #117 closed

[2019-06-18 10:39] sushil-akkawar commented on #120
Today morning, I have upgraded my Mattermost to 5.12.0 from an old version on which the Matterpoll and remind plugin do not work.
I installed both of 'em after upgrading to 5.12.0 and facing the same above mentioned issue.

I can confirm the click-buttons are not working in both the said plugins.
In the Mattermost logs, I found this,

`{"level":"error","ts":1560850581.1029434,"caller":"mlog/log.go

[2019-06-18 10:46] sushil-akkawar commented on #120
@ewwollesen
I tried to solve above issue using https://manuals.gfi.com/en/kerio/connect/content/server-configuration/ssl-certificates/adding-trusted-root-certificates-to-the-server-1605.html
Not successful yet. I am using Let's Encrypt SSL.

[2019-06-18 13:50] jkvd17 commented on #115
@scottleedavis, thanks. Plugin work with SiteURL set.

[2019-06-18 15:33] scottleedavis commented on #120
@hanzei if you have time, have you seen either the timeout or certificate issues before with matterpoll?  This issue is apparently happening on both remind and matterpoll.  I still feel timeout is caused by a network configuration and the certificate error is a self signed cert issue however open to digging deeper if there is something we can do.

[2019-06-18 18:14] scottleedavis opened #123 "migrate the ensureBotExists function to use the API method EnsureBot"

[2019-06-18 20:48] scottleedavis opened #124 "i18n translations and logic for Spanish"

[2019-06-19 04:40] scottleedavis commented on #112
@poVoq it looks like the fix is scheduled for 1.21 in July instead.  https://mattermost.atlassian.net/plugins/servlet/mobile?originPath=%2Fbrowse%2FMM-15084#issue/MM-15084

[2019-06-19 09:46] hanzei commented on #120
People have run into the certificate issue a couple of times with Matterpoll. Every time this was caused by a self signed certificate that the server didn't trust.

I've never had issues with a timeout. I agree with the assumption that the issue is caused by the firewall or load balancer.

[2019-06-19 09:50] sushil-akkawar commented on #120
@hanzei Thanks for giving some clues about the issue. I would like to know you that I have issued the Let's Encrypt SSL for Mattermost using the certbot tool. It would be great if you suggest some references or give some tips on fixing it.
Advance thanks.

[2019-06-19 09:56] hanzei commented on #120
Are you using the "build" in Let's Encrypt solution from Mattermost or another tool?

[2019-06-19 10:22] sushil-akkawar commented on #120
I am not using the "build" in Let's Encrypt solution from Mattermost.

[2019-06-19 10:29] hanzei commented on #120
What is the output if you just run `curl $YOUR_MATTERMOST_URL`?

[2019-06-19 10:38] sushil-akkawar commented on #120
@hanzei and @scottleedavis
I just set 'true' for 'Forward80To443', restarted the server.
Then visited the Mattermost URL, there was something like 'Proxy error', then I reverted the config.json and restarted the server again, seems like the buttons are working now.
Then I created a few reminders and it is absolutely working fine for me (I have System Admin role assigned to me). I asked my colleagu

[2019-06-19 10:42] sushil-akkawar commented on #120
sushil@ip-XX-XX-XX-XX:~$ curl https://mattermost.example.com
curl: (60) SSL certificate problem: unable to get local issuer certificate
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it, please visit the web page mentioned ab

[2019-06-20 00:53] scottleedavis commented on #120
@sushil-akkawar there are no access levels in the remind plugin.  On a test 5.12 I run the remind command and buttons for both system admin and normal roles with our issue.  I am curious about the permissions issue.  Do matterpoll buttons work for your colleague?

[2019-06-20 10:19] sushil-akkawar commented on #120
Yes. The buttons are working fine for both the plugins. We have no idea how it is resolved.
I will try to reproduce the permissions issue when I get the time and will update you if found anything useful.
Thanks

[2019-06-20 15:30] scottleedavis commented on #120
Please let us know if you're issue is resolved too @ewwollesen

[2019-06-20 15:37] ewwollesen commented on #120
I'm the guy that opens an issue and then goes on vacation shortly after. We checked the F5 configuration between prod and test, and didn't see any differences there that would cause the issue. When I get back from PTO next week we'll do some tcpdumps and stuff and try to get a better handle on what's going on. Sorry for the delay.

[2019-06-27 06:28] scottleedavis opened #125 "support this pattern (missing 'at' between day & time)"
@jthebab

`/remind me bla bla tomorrow 8:00`

[2019-06-27 22:42] scottleedavis opened #126 "Remind at 10pm displays at 5pm"
![5C92018F-D543-4189-B9CC-497B420F2CCD](https://user-images.githubusercontent.com/2914443/60305641-1ac2ea80-98f2-11e9-9894-2529d794dd26.png)

[2019-06-27 23:55] scottleedavis opened #127 ""URL not set" showing up sporadically, sometimes causing crashes"

[2019-06-28 00:21] #127 closed

[2019-06-28 00:56] #126 closed

[2019-06-28 02:33] scottleedavis commented on #123
doesn't exist yet

[2019-06-28 02:33] #123 closed

[2019-06-28 03:09] #113 closed

[2019-06-28 03:32] #125 closed

[2019-07-11 01:45] scottleedavis commented on #120
Happy to help @ewwollesen if there are still issues though I'd like to close this if everything is working.

[2019-07-11 09:43] YuKitAs opened #132 "Mattermost web crashes when removing the "I’ve deleted the reminder" post"
**Reproduce**:
1. Create a new reminder task
2. In the reply "I will remind ***", click the `Delete` button below
3. In the reply "I’ve deleted the reminder ***", click the `x` button at the right corner (in order to remove the post)
4. Mattermost will jump to a blank page (`/messages/@remindbot`)

**Expected**:
The post will be removed normally.

**Mattermost version**: 5.12.1 (Webversion on Chro

[2019-07-11 19:25] scottleedavis commented on #132
verified on 5.12.1.  Discussion with mattermost team possible causes.

[2019-07-14 22:11] clarfon opened #133 "Option to modify instances of recurring reminders"
We use this plugin to remind people about meetings, and it's been very useful for this!

Unfortunately, there's no way to "cancel" a meeting, i.e. mute a reminder for a set period of time. This would be very nice to have.

[2019-07-14 22:12] clarfon opened #134 "Option to copy reminders"
It would be very nice if there were an easy way to copy reminders, i.e. take the same message/channel and repeat it at a different time. This could also be combined with #133 to allow "moving" recurring reminders for just one instance, e.g. rescheduling a meeting.

[2019-07-14 22:14] clarfon commented on #134
One easy way to do this, I think, would be to allow you to copy the text that created the reminder (or one that's equivalent) to the keyboard. That way, you can easily copy the reminder and modify it how you choose.

[2019-07-17 22:49] scottleedavis commented on #112
was looking forward to release today/tomorrow, but looks like the fix is pushed/updated in 1.22 planned release in august now.

[2019-07-17 22:50] scottleedavis commented on #134
I think this will be handled nicely in #73 where the post dropdown will allow scheduling a new reminder.  It wouldn't cover recurring, but I feel good UX.  Otherwise, I haven't found good UX for allowing copying reminders yet.  Thoughts?

[2019-07-17 22:51] scottleedavis commented on #133
I think this idea is appealing, I often want to do the same thing.  The _how_ of making this happens would need to be flushed out.  Perhaps a button in `/remind list` 'mute' on recurring reminders?  Thoughts?

[2019-07-17 22:52] scottleedavis commented on #132
Still no resolution, however I am tempted to create a simple plugin to replicate the issue to then present again to the team.  The mattermost-plugin-demo does not have this issue and also uses ephemeral posts.

[2019-07-18 01:17] clarfon commented on #133
Yeah, it makes the most sense to me to have this be an option in `/remind list`, at least for a first implementation.

[2019-07-18 01:17] clarfon commented on #134
Honestly, I think the suggestion of copying the text that created the reminder is a good start.

[2019-07-18 14:49] VincentSC opened #135 "every + multiple days results in multiple entries in the list"
When I do a "/remind ~town-square 'text' every monday and tuesday and wednesday and thursday and friday at 5pm" this results in duplicate entries in the list. When I add another reminder, it does not appear in the list. when I remove duplicate items, more than one duplicate items disappear and the newer ones suddenly appear. I end up with an empty list but it says the list should be 3. I'm pretty

[2019-07-18 17:39] scottleedavis commented on #135
@vincentSC this issue has been fixed in later versions.  Please upgrade to 0.4.1

[2019-07-18 17:40] #135 closed

[2019-07-20 03:08] scottleedavis commented on #135
Let me know if you find otherwise! :)

[2019-07-20 11:27] YuKitAs commented on #132
Hi, thanks for following up! My mattermost was upgraded to v5.13.1 but the issue still exists.
When I looked at the response for the blank page, the logs showed
[code]

[2019-07-24 13:08] hadret commented on #33
This is bug is back. Example taken from the wiki:

[code]

This will default to 4:30pm tomorrow even if it's before 4:30pm today.

[2019-07-24 15:59] scottleedavis commented on #33
Hi @hadret , could you describe the scenario you are seeing this as?  Is experimental timezone enabled?  I am not able to reproduce this _not_ working.

![test](https://user-images.githubusercontent.com/2914443/61809002-536eba80-adf1-11e9-9e9b-f5bab7e2c013.gif)

[2019-07-24 16:51] hadret commented on #33
I enabled the experimental TZ feature (and set correct timezone in user settings) and still when I type: `/remind me bla bla at 8pm` it defaults to tomorrow, even though it's ~7pm now.

[2019-07-24 17:40] hadret commented on #33
Could you try staying in either am or pm when setting up the reminder? As in it’s pm in your timezone already and you setup reminder for later hour also in pm?

[2019-07-24 20:11] scottleedavis commented on #33
@hadret Are you using version 0.4.1?  What mattermost version?

Just tested pm->pm with no issues.
![pm](https://user-images.githubusercontent.com/2914443/61825088-7494d280-ae14-11e9-88e4-ce37e37ab7a2.gif)

[2019-07-24 20:20] scottleedavis commented on #33
![second_pm](https://user-images.githubusercontent.com/2914443/61825720-c9851880-ae15-11e9-95e4-cce1dd7697ee.gif)

could you share a animated gif or screenshot?   I am not able to reproduce.

[2019-07-25 06:15] hadret commented on #33
I'm no longer able to reproduce it today 🤷‍♂

Just to make things complete: I'm using latest version of the plugin and Mattermost 5.12 (latest version shipped with GitLab).

It may have been the TZ settings that after all got it fixed, but I'm not entirely sure (especially due to the fact that it was only `at` syntax that was defaulting to tomorrow -- if I used `in` it was working and counting jus

[2019-07-26 20:39] bbodenmiller commented on #73
@scottleedavis where is the conversation ongoing?

[2019-07-26 23:49] scottleedavis commented on #73
apologies @bbodenmiller for not having updated sooner, however the team approved the idea and I am working on the help wanted ticket to implement the functionality https://mattermost.atlassian.net/browse/MM-16946

[2019-07-27 00:25] scottleedavis commented on #73
progress, still needs unit tests and mobile web view.
<img width="379" alt="Screen Shot 2019-07-26 at 5 23 54 PM" src="https://user-images.githubusercontent.com/2914443/61987293-45c05d00-afca-11e9-89a7-f4fc6779fde5.png">

[2019-07-27 05:19] bbodenmiller commented on #73
@scottleedavis nice! Look forward to it!

[2019-07-28 11:47] vstath opened #136 "Support for version 5.13?"
Hello,

just testing out the latest release on a 5.13.0 installation (first time install of your module). I am not sure about how it's supposed to function - first time user - but I think that the /remind popup does not create a notification. The buttons on snooze and on delete / mark as complete do not appear to perform a function, etc.

Can you please advise if those are meant to be working on y

[2019-07-28 11:57] vstath commented on #136
Could it be because my installation is not listening on port 443? I have not yet enabled TLS and my port is a random one chosen while I'm performing tests.

If so, is there a way to use another port in the plugin for the callbacks to the server? I understand the buttons perform an API call back to the server? Not sure if they do, my understanding may be off.

[2019-07-28 12:09] vstath commented on #136
Ok, I think I understood how the plugin works. My config.json siteurl was not correct and my understanding is that on each message of yours you construct the response API based on that value.

I added DNS and changed the siteurl to point to host+port and (the new reminders) now work as expected.

I am leaving this so perhaps others might be assisted if they come across same misconfiguration issue.

[2019-07-28 12:09] #136 closed

[2019-07-31 01:24] johnthompson365 opened #138 "Unable to add a bespoke reminder time"
Hi, I was unable to add a reminder for 30 minutes time in the /remind form. It gave an error saying that 'No items matched 30 minutes' . Clicking schedule reminder cleared the field and then gave the 'field is required' error.

![image](https://user-images.githubusercontent.com/45836988/62176599-027e2b00-b2f7-11e9-8e66-84b878fbc0fb.png)

[2019-07-31 04:46] scottleedavis commented on #138
Hi @johnthompson365.  The items selectable in the /remind interactive dialog are 20 minutes, 1 hour, 3 hours, tomorrow and next week.  Are you looking to add a custom value or additions?

[2019-07-31 08:28] cedricroijakkers opened #139 "Confirm to the person that set the reminder that it is now complete"
When a reminder is set from person A to person B, there is a confirmation message to person A notifying him that the reminder is set.

Person B receives the reminder at the set time, and has the option to mark it as complete. However, whne the reminder is marked as complete, it would be nice to notify person A that it has been completed. This is also the way Slack handles reminders and probably wh

[2019-07-31 15:23] johnthompson365 commented on #138
Hi Scott, thanks for responding. Yes, exactly. The standard reminder times are useful but I assumed when looking I would be able to input a custom time in the form similar to how I can in the slash command. I think this would be a useful addition to the functionality.

[2019-07-31 16:40] scottleedavis commented on #139
An oversight on my part @cedricroijakkers, thank you for bringing it up.

[2019-08-01 18:07] lieut-data opened #142 "Remove dependence on os.Hostname"
The current code depends on `os.Hostname`, presumably to avoid multiple servers in a high-availability environment from triggering the same reminders. Unfortunately, this assumes the hostnames are both stable and unique, which may not be true in a k8s/containerized environment.

Using `KVCompareAndSet`, it should be possible to use a special key value as a cluster-wide mutex for any plugin instanc

[2019-08-01 18:16] lieut-data opened #143 "TriggerReminders race conditions"
I haven't proven this experimentally, but reading the code it seems that `TriggerReminders` is prone to missing occurrences if it happens to be executed less frequently than one second. The current code takes the current time, rounds it down, and then queries for keys matching that value:
https://github.com/scottleedavis/mattermost-plugin-remind/blob/e8cb15212a87d5469ce554c1ab4bea9d5e998a26/server

[2019-08-02 03:48] scottleedavis commented on #138
Hi @johnthompson365 , I brought up dynamic entry into the select list in the interactive dialog, in the ~toolkit channel this morning, but got no responses.
 https://community.mattermost.com/core/pl/tqdpe3ibetri9n1qehu1xydd6e

After thinking about it some more, I think I could instead seed the list with more values (10 minutes, 20 minutes...  50 minutes, 1 hour, ... 23 hours, 1 day, etc) which wou

[2019-08-02 04:54] scottleedavis commented on #142
It is good to know that hostname isn't a stable/unique solution for HA.  I had only tested a two node cluster with docker containers in prep for running on community.mattermost.com with success, and I appreciate the broader view.

`KVCompareAndSetWithExpiry` looks appealing and easy, and as it is slated for `v5.16.0 `, I will pick this ticket back up as that release gets closer.

[2019-08-02 05:11] scottleedavis commented on #143
@lieut-data This is a great analysis and some of which I have thought of before as well.  So far in practice I haven't encountered these issues, though that being said, the plugin hasn't been vetted against a large org where timing may be off with high numbers of coexisting reminders.  (to my knowledge...  We run it at collegenet with 180 users)

The remedy of key enumeration I think sounds appeal

[2019-08-02 05:42] scottleedavis opened #144 "CircleCI is failing unit tests in Localization"
https://circleci.com/gh/scottleedavis/mattermost-plugin-remind/tree/master
https://circleci.com/gh/scottleedavis/mattermost-plugin-remind/220

[code]

[2019-08-02 05:43] scottleedavis commented on #144
The same tests pass when running locally.

[2019-08-03 15:45] Tragen opened #145 "Make snooze list configurable"
Can you add the possibility to extend or replace the snooze list via config?
Or add an entry to enter a custom snooze value.

[2019-08-03 16:58] scottleedavis commented on #145
An entry for a custom snooze value would be easy (for minutes), and with other units i18n translation would have to be considered.

Could you describe more your thoughts on extending snoozed reminders in /remind list?

[2019-08-06 03:29] #144 closed

[2019-08-06 03:31] scottleedavis commented on #120
closing due to inactivity

[2019-08-06 03:31] #120 closed

[2019-08-06 05:34] scottleedavis commented on #139
@cedricroijakkers v 0.4.2 have the functionality added.  Thank you for reporting this issue!

https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/0.4.2

[2019-08-07 00:52] #132 closed

[2019-08-07 00:55] scottleedavis commented on #132
@YuKitAs turns out it was a bug in the code.  Fixed in v0.4.3
https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/0.4.3

[2019-08-07 11:13] cedricroijakkers commented on #139
I'm getting a plugin crash now when trying to use the remind functionality.

I'm running mattermost docker container version `mattermost/mattermost-team-edition:5.13.2`

Logging on debug:

`{"level":"debug","ts":1565175952.8724635,"caller":"plugin/hclog_adapter.go:35","msg":"panic: time: missing Location in call to Time.In","plugin_id":"com.github.scottleedavis.mattermost-plugin-remind"}
{"level":

[2019-08-07 15:33] scottleedavis commented on #139
@cedricroijakkers hmmm, that isn't expected.  I built/tested on master (5.13) without issue.  Lets get this issue solved.

Could you share:
1) what remind command you used to get this error?
2) the output from `/remind __user` ?

[2019-08-07 16:39] tejaskarelia17 opened #148 "Mattermost webhook plugin post error - dail tcp i/o error"
**Summary**

I am unable to make any post request from a plugin. dail tcp IP i/o error

**Steps to reproduce**

I have installed Mattermost 5.13.2 on a DMZ (192.168.x.x:8067) behind a Firewall using NAT. I am able to use Mattermost as expected from internet using my public IP/hostname as well as internal.
I installed a plugin(RemindBot) but none of the buttons work after a reminder is sent.

I cha

[2019-08-07 16:51] scottleedavis commented on #148
@tejaskarelia17 is SiteURL valid?  If so I suspect a firewall issue with an i/I timeout error.  If another plugin say, matterpoll didn't work this is likely the issue.

[2019-08-08 19:22] scottleedavis commented on #148
@tejaskarelia17 This plugin will update to use relative paths for mattermost release 5.14

[2019-08-08 19:24] scottleedavis commented on #148
following the nps plugin as an example https://github.com/mattermost/mattermost-plugin-nps/pull/45

[2019-08-08 19:47] tejaskarelia17 commented on #148
@scottleedavis Thanks 😃

[2019-08-09 00:06] Roy-Orbison opened #149 "Please support ISO dates"
E.g.:
[code]

[2019-08-10 00:22] scottleedavis commented on #149
@Roy-Orbison this is code complete and will be released in version 0.4.4 , requiring mattermost 5.14 (released around the 15th of this month)

[2019-08-10 00:22] scottleedavis commented on #139
I give that docker image a try myself

[2019-08-10 00:23] scottleedavis commented on #112
the issue looks resolved @poVoq , so hoping for mid august resolution

[2019-08-10 02:23] Roy-Orbison commented on #149
Thank you very much!

[2019-08-10 02:23] #149 closed

[2019-08-10 04:02] scottleedavis commented on #139
@cedricroijakkers I ran the container mattermost/mattermost-team-edition:5.13.2 , and uploaded/tested the remind plugin and didn't see any issues.

Seeing your error message, I am curious what might cause this.
1) are you using the 0.4.3 version?
2) Have you modified the container in anyway?

[2019-08-12 18:20] Tragen commented on #145
A simple list withouth i18n translation would be enough for me.
Very often, I need to snooze a reminder for 5 minutes, but I can do it only for 20.
I would configure the list for me with
5 minutes, 10 minutens, 15, 30, 45, 90, 120.
2, 4, 5, 6, 7 to 12 hours.
And 2 to 6 days.

But perhaps the possibility to just enter a custom value like
39 minutes
would be perfect. You need to be able to parse the

[2019-08-13 14:28] cedricroijakkers commented on #139
I just tried it again with the following command:

`/remind @nicole to test reminders in 5 minutes`

This give the following error:

`Command with a trigger of '/remind' not found. Click here to send as a message.`

And this in the logs:

[code]

If I issue this command:

`/remind @nicole to test reminders in 5 minutes`

I get:

`Sorry, I didn’t understand. Try this: /remind [@someone or ~channel]

[2019-08-14 18:30] scottleedavis commented on #139
@cedricroijakkers I was able to replicate the issue, and running `apt-get tzdata` in the container seems to have fixed it.  Can you confirm?  It would be good to get this requested on the image repository too though it seems mattermost-docker already has it.  https://github.com/mattermost/mattermost-docker/blob/master/app/Dockerfile#L25 .  I am not sure how/where the mattermost-team-edition gets b

[2019-08-15 20:24] johnthompson365 commented on #138
Hey Scott. Sorry for the slow response. I've added my 2 cents to the community channel for Aaron to review. I think more options to start with would be a good first step, until we can have user-defined values. Many thanks.

[2019-08-16 00:28] johnthompson365 commented on #148
Hi Scott - I have a customer who loves the plugin but is getting a similar error, without the explicit timeout. Is there any further troubleshooting or is it just best to wait for v4.4? Thanks.

{"level":"error","ts":1565912527.5476964,"caller":"mlog/log.go:172","msg":"Action integration error","path":"/api/v4/posts/j8zwbedfxfytpg4hf3uhu8onza/actions/orfrnyxw93rgjb4bhjxc8dzrhy","request_id":"szwyf

[2019-08-16 03:52] scottleedavis commented on #148
Howdy John,

In this case lets wait to see if 0.4.4 resolves it, which should be released friday (following a 5.14 release requirement)

[2019-08-16 03:59] scottleedavis commented on #138
This will be part of release 0.4.4 (likely on friday this week for v5.14 mm release)

[2019-08-16 17:47] johnthompson365 commented on #138
Fantastic Scott, thanks for the update.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: scott lee davis <notifications@github.com>
Sent: Thursday, August 15, 2019 8:59:23 PM
To: scottleedavis/mattermost-plugin-remind <mattermost-plugin-remind@noreply.github.com>
Cc: John Thompson <john@thompson365.com>; Mention <mention@noreply

[2019-08-19 08:00] tschlue opened #154 "No action on snooze"
Hi,

if I try to snooze reminder nothing happens/changes.

In log is the following

Plugin Version: 0.4.3
Mattermost Version: 5.13.2

[2019-08-20 02:56] scottleedavis commented on #148
Hello!  v0.4.4 has been released!
https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/0.4.4

This should solve this issue @tejaskarelia17  & @johnthompson365 .  Let me know if it doesn't!  (This version requires mattermost v5.14)

[2019-08-20 02:57] scottleedavis commented on #138
@johnthompson365 this functionality has been released in v0.4.4
https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/0.4.4

Let me know if youd like anything changed!

[2019-08-20 02:57] #138 closed

[2019-08-20 03:04] scottleedavis commented on #139
Brought up the missing `tzdata` issue in the ~community channel https://community.mattermost.com/core/pl/ye3yupnse3n4pdmm653ixkd97o

[2019-08-20 03:24] johnthompson365 commented on #148
Thanks for the update Scott!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: scott lee davis <notifications@github.com>
Sent: Monday, August 19, 2019 7:56:37 PM
To: scottleedavis/mattermost-plugin-remind <mattermost-plugin-remind@noreply.github.com>
Cc: John Thompson <john@thompson365.com>; Mention <mention@noreply.github.com>

[2019-08-20 03:47] scottleedavis commented on #154
Hi @tschlue , Thank you for reporting this!  This is fixed in v0.4.4 https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/0.4.4 .

Note this version requires mattermost 5.14.

[2019-08-20 03:47] #154 closed

[2019-08-20 08:12] tschlue commented on #154
Thanks

[2019-08-20 20:35] poVoq commented on #112
seems to work now.

[2019-08-20 20:35] #112 closed

[2019-08-21 03:06] tejaskarelia17 commented on #148
Hi @scottleedavis,
Thanks for the update. I updated mattermost to 5.14.0 and Remind bot 0.4.4. But I am getting the same error.
Is there a way I can check whether the error I am getting is due to the SiteURL parameter?

[2019-08-21 08:39] tschlue opened #155 "Reminder crashes"
After upgrading yesterday Mattermost to 5.14 and the reminder to 0.4.4 today the plugin was stopped (by itself of or mattermost) due to a lot of errors.

[2019-08-21 08:49] tschlue commented on #155
I realised that error stops appearing. A user has used the ip address of the mattermost server instead of the url. Other plugin didn't has a problem with it.

[2019-08-21 09:21] cedricroijakkers commented on #139
Meanwhile, mattermost team edition 5.14.0 has been released, they've switched from an ubuntu-based container to an alpine-based container, and it seems the tzinfo package is now part of the container. Reminders work out of the box without adding any packages now, so I think the issue can be closed.

[2019-08-21 09:21] #139 closed

[2019-08-21 13:52] tschlue commented on #155
Again

![grafik](https://user-images.githubusercontent.com/14072748/63437802-8d040700-c42b-11e9-85a1-42feea117239.png)

Looks like it wasn't the problem.

[2019-08-21 15:22] scottleedavis commented on #155
@tsclue what is the type of server?  Docker, manual install,?  This looks like a big error and I'd like to reproduce it.

[2019-08-21 15:46] johnthompson365 commented on #148
Thanks for re-opening this, our customer is reporting the same issue with v4.4 as well.

[2019-08-22 01:59] scottleedavis commented on #148
@tejaskarelia17 would it be possible to test another plugin with interactive buttons?  e.g. https://github.com/matterpoll/matterpoll

If those buttons work that narrows it Dien to this plugin.  If they don't we can discuss more on the user voice post to see if mattermost staff can help.

[2019-08-22 02:00] scottleedavis opened #156 "Additional badge icons"
See matterpoll https://github.com/matterpoll/matterpoll

[2019-08-22 07:26] tschlue commented on #155
Manual

[2019-08-22 07:45] tschlue commented on #155
I think it is still the problem when connection URL not fits correctly. I moved the mattermost url from https://server.com to https://server.com/mattermost but the old url is rewritten to the new one.

[2019-08-22 23:40] scottleedavis opened #157 "setup issue templates - features and bugs"
like matterpoll
![Screen Shot 2019-08-22 at 4 40 15 PM](https://user-images.githubusercontent.com/2914443/63556963-99579500-c4fb-11e9-9abb-ce647181b003.png)

[2019-08-23 00:20] johnthompson365 commented on #148
Hi Scott, we tried your suggestion of using Matterpoll and we got the same error. So doesn't look to be plugin related. I assume you can't recreate the issue on your v5.14 server?

[2019-08-23 02:06] scottleedavis commented on #148
I cant recreate it, though I will test with a 5.14 docker image this eve to cover that base.

[2019-08-23 03:15] johnthompson365 commented on #148
Thanks Scott.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: scott lee davis <notifications@github.com>
Sent: Thursday, August 22, 2019 7:06:13 PM
To: scottleedavis/mattermost-plugin-remind <mattermost-plugin-remind@noreply.github.com>
Cc: John Thompson <john@thompson365.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2019-08-23 04:43] scottleedavis commented on #148
@johnthompson365 @tejaskarelia17 I tested the following this eve.
1) docker image of 5.14 => This works without error.
2) dev mattermost-server up-to-date master => This works without error.
3) 5.14 [debian install](https://docs.mattermost.com/install/install-debian.html), running in GCE. => This does _not_ work and gives a very similar, but not exact same error as reported

[code]
(IP_ADDR replac

[2019-08-23 05:10] scottleedavis commented on #155
@tschlue I setup a docker and debian install of 5.14 this evening, and although had some issue with the buttons not working with debian (see issue #148 ), the plugin installed and ran without error on both.  I am curious about what might be going on with the url rewrite you mentioned, though I don't think that would cause the plugin crash.

What operating system is this running on?
Does [matterpol

[2019-08-23 08:15] tschlue commented on #155
@scottleedavis Matterpoll works fine. Mattermost is running on centos 7.

[2019-08-23 13:39] scottleedavis opened #158 "Consider github actions for build and release"
See this repo for example https://github.com/cpanato/mattermost-plugin-chucknorris-facts

[2019-08-23 15:46] johnthompson365 commented on #148
Thanks for investigating Scott.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: scott lee davis <notifications@github.com>
Sent: Thursday, August 22, 2019 9:43:40 PM
To: scottleedavis/mattermost-plugin-remind <mattermost-plugin-remind@noreply.github.com>
Cc: John Thompson <john@thompson365.com>; Mention <mention@noreply.github.

[2019-08-25 04:21] scottleedavis commented on #157
done

[2019-08-25 04:21] #157 closed

[2019-08-25 04:46] scottleedavis commented on #156
done

[2019-08-25 04:46] #156 closed

[2019-08-25 23:26] scottleedavis commented on #155
@tschlue that error is different than the original one you posted.  It should only occur once the plugin is running though.  is the plugin running currently with just that error on triggered reminder?  Could you share the `/remind .....` string you used?

[2019-08-26 07:47] tschlue commented on #155
@scottleedavis at the moment, yes. I wrote all user to correct the url path. So it could be still the reason for the errors. Which `/remind ...` string do you mean? Maybe I don't know beacause it's used by an user.

[2019-08-27 09:06] tschlue commented on #155
@scottleedavis No, I don't. But it could come from another user. I can't reproduce these errors :(.

[2019-08-28 08:09] tschlue commented on #155
I think this is okay.

[2019-08-28 08:09] #155 closed

[2019-08-29 00:15] Roy-Orbison opened #161 "Delete message missing name"
#### Summary
Delete message missing name of reminder

#### Steps to reproduce
Steps to reproduce the behavior:
1. Create a reminder
2. View it with `/remind list`
3. Click its *Delete* button

#### Expected behavior
Confirmation should say:

#### Observed behavior (that appears unintentional)
Confirmations says

#### Server configuration
**Operating system:** Debian

**Mattermost version:** 5.12.4

[2019-08-29 00:53] scottleedavis commented on #161
@Roy-Orbison are you able to update to v0.4.4 (requires mattermost 5.14)?  This has been fixed along the way

[2019-08-29 04:44] Roy-Orbison commented on #161
Upgraded Mattermost and Remind Bot that problem's gone, but got others.

[2019-08-29 04:44] #161 closed

[2019-08-29 04:53] Roy-Orbison opened #162 "After updating, commands are interpreted as direct messages"
#### Summary
After updating, commands typed into the DM chat of remindbot and myself were interpreted as direct messages to remindbot.

#### Steps to reproduce
Steps to reproduce the behavior:
1. Update Mattermost/Remind Bot
2. Go to remindbot's DM chat
3. Send `/remind list`
4. Hangs chat

#### Expected behavior
Normal command response

#### Observed behavior (that appears unintentional)
A `Loadi

[2019-08-29 05:23] Roy-Orbison opened #163 "remindbot can be direct messaged"
### Summary
Typing non-commands into the DM chat of remindbot actually sends it a message.

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to remindbot's DM chat
2. Send anything that's not a command
3. Message is posted like remindbot is a human

### Expected behavior
Respond with an error and/or instructions.

### Observed behavior (that appears unintentional)
A message is posted

[2019-08-29 05:24] scottleedavis commented on #162
Very strange.  I am not able to replicate the `Loading...` hang.  It sounds like it was a one time issue, though I am curious as what the root cause might be.   have you reproduced this more than once?

[2019-08-29 05:33] Roy-Orbison commented on #162
I got the same error a few times until I invoked the bot in another window, and now it works as expected. I don't really fancy downgrading everything and restoring from backup just to see if it happens again. Given that it self-resolved, I doubt it's critical, but thought you might want to know.

[2019-08-29 05:44] scottleedavis commented on #163
Awesome find, thank you @Roy-Orbison .

Remindbot uses a bot account, and has no access to the server generated remindbot@localhost in which to server as a config option.

However, I like the idea of scheduling reminders via DM, while at the same time not sending any notifications.  This appears already done by Slackbot.

<img width="670" alt="Screen Shot 2019-08-28 at 10 39 33 PM" src="https://us

[2019-08-29 05:48] scottleedavis commented on #162
being able to search this issue in closed issues will help troubleshoot if it happens again, though for now I will close it.  I appreciate the heads up.  It always helps.

[2019-08-29 05:48] #162 closed

[2019-08-29 06:17] Roy-Orbison commented on #163
Updating the user's `NotifyProps` field to `{"channel":"false","comments":"never","desktop":"none","desktop_sound":"true","email":"false","first_name":"false","mention_keys":"","push":"none","push_status":"away"}` might help. I did.

[2019-09-03 01:08] scottleedavis commented on #148
@tejaskarelia17 Could it be related to siteurl needing to be https?  That [solved the problem](https://community.mattermost.com/core/pl/kih65d1i9iby38g9ux77drkxoh) @johnthompson365 was looking into.

[2019-09-03 01:10] scottleedavis commented on #148
also @tejaskarelia17 , here is a workaround by @jthebab

Do either of these two solve the issue you are seeing @tejaskarelia17 ?

[2019-09-03 11:36] andrey-yantsen opened #164 "Improve 24h times handling"
#### Summary

Treat 11:30 as 11:30AM. I understand that there are lots of people who using AM/PM, but some parts of the world just haven't had a chance to get used to it. I have 24hrs enabled in my mattermost client, so I'm expecting all times to be in that format, therefore when I'm asking something like `/remind me poke Josh at 11:30` when it's 1PM already, I'm expecting the reminder to be set f

[2019-09-03 14:27] scottleedavis commented on #164
This is perhaps best achived with an system console config option on the plugin, enabled in the `chooseClosest` func.

[2019-09-03 14:55] scottleedavis opened #165 "go module git.apache.org/thrift.git fails to download (git.apache.org is down)"
from go.sum
[code]

[2019-09-03 14:57] scottleedavis commented on #165
solved here https://github.com/kubernetes/minikube/issues/5245

[2019-09-03 15:41] #165 closed

[2019-09-03 16:54] tejaskarelia17 commented on #148
@scottleedavis I have my site url set to https:. I am going to try the workaround suggested by @JtheBAB and update the post asap. Thanks.

[2019-09-03 18:05] andrey-yantsen commented on #164
Nice idea, but I'm not sure if it'll meet everybody needs: i.e. we have users from London, UK and from Austin, US, and I'm not sure whether everybody would be happy with forcing to use either AM/PM or 24h.

[2019-09-03 18:13] scottleedavis commented on #164
Great point.  Next idea is to check the 12/24 clock setting of the user, and parse accordingly based on that.
<img width="518" alt="Screen Shot 2019-09-03 at 11 08 57 AM" src="https://user-images.githubusercontent.com/2914443/64197747-af3e5180-ce3b-11e9-8bf7-bc6c0e589e59.png">

Preliminary inspection of the `model.User` object don't show this, but with some more digging I will find it.  Perhaps st

[2019-09-03 19:01] andrey-yantsen commented on #164
Yeah, this one is the best option, I think.
Not sure about Props, but web client gets it from `/api/v4/users/me/preferences`, `use_military_time=true` means 24-hour clock enabled.

[2019-09-06 16:54] tejaskarelia17 commented on #148
The work around suggested by @JtheBAB works 😃 👍
Thanks @JtheBAB and @scottleedavis for all the help.

[2019-09-06 16:56] scottleedavis commented on #148
Excellent news!  Thank you all!

[2019-09-06 16:56] #148 closed

[2019-09-24 08:37] VincentSC commented on #164
FYI: 12-hour only in these countries:
![am pm](https://i.stack.imgur.com/43dwH.jpg "12 hour world")
(Quebec also primarily 24 hours, by the way. As does the US military, as it is weirdly used in the API)

So the main part of the world uses 24 hours system.

[2019-09-26 19:27] ewwollesen commented on #120
Sorry to reopen this, and I know it's super old, but I wanted to provide an update in case others were having this issue. I FINALLY got time to really dig in to this and figure it out and it was actually fairly simple. **Basically the individual application servers (we run a 3 node cluster) didn't have firewall access to talk to the VIP on the load balancer.**

What's interesting is that since ope

[2019-09-27 15:06] Tragen commented on #145
The list is much better now. But I have one small bug.

![image](https://user-images.githubusercontent.com/1700241/65780019-228c6800-e149-11e9-9416-cfb5441dcbb0.png)

You cannot see and select the top entries from the list.

[2019-09-27 17:26] scottleedavis commented on #145
I created a uservoice request @Tragen

https://mattermost.uservoice.com/forums/306457-general/suggestions/38697238-interactivedialog-select-list-with-a-lot-of-entrie

[2019-09-29 14:27] scottleedavis commented on #73
@jthebob I believe this will do what you mentioned on community.  :)

[2019-09-29 14:29] scottleedavis commented on #73
I believe this will do what you mentioned in community @JtheBAB

[2019-09-30 07:50] Tragen commented on #145
Okay. There is also a second list when you get a reminder.
The new entries are missing there
![image](https://user-images.githubusercontent.com/1700241/65859116-c2274180-e367-11e9-8b89-62ea9c346c13.png)

[2019-09-30 11:36] hanzei commented on #145
Created a bug ticket for the first issue https://mattermost.atlassian.net/browse/MM-19005

[2019-09-30 16:05] ewwollesen opened #166 "Deleting Reminder Resets Date"
#### Summary
Deleting a reminder resets the message date to December 31, 1969.

#### Steps to reproduce
Steps to reproduce the behavior:
1. Create a reminder the date shows today's date
2. Delete the reminder the date resets to Dec 31, 1969

#### Expected behavior
I would expect it to keep the date the same even when deleted.

#### Observed behavior (that appears unintentional)
![Screen Shot 2019-

[2019-09-30 23:04] scottleedavis commented on #166
@hanzei pardon the ping, however I have seen this for most ephemeral post interactions in the past, and brought it up once I believe on community some months ago.  Is this something to bring up on user voice or a jira?

[2019-10-09 00:06] esethna commented on #73
@scottleedavis how is this feature going @scottleedavis? Looking forward to it!

[2019-10-09 00:12] scottleedavis commented on #73
@esethna The plugin webapp development is complete however the functionality in mattermost-webapp is currently in QA.
https://github.com/mattermost/mattermost-webapp/pull/3357

Scheduled for  5.18

[2019-10-09 00:21] esethna commented on #73
Sweet!

[2019-10-18 12:29] piotr-wegert opened #167 "Recurring reminder silently stops working at some point"
#### Summary
Recurring reminder silently stops working at some point

#### Steps to reproduce
Set up a recurring reminder on a public channel e.g. /remind ~test_channel "daily" every weekdays at 9:00 am

#### Expected behavior
Reminder works indefinitely.

#### Observed behavior (that appears unintentional)
Reminder works fine for some time. At some point (hard to determine exactly when) it silent

[2019-10-18 14:44] scottleedavis commented on #167
Are you able to verify if v0.4.4 has the behavior as well?

[2019-10-18 17:13] nickolasdeluca opened #168 "Add a setting to prevent reminder deletion."
#### Summary

Add a setting to prevent reminder deletion.

#### Describe alternatives you've considered

Instead of forbidding the user from deleting the reminder, make the bot tells the creator of the reminder that the remind has been deleted, unless I'm the creator of the reminder.

#### Additional context

We would like to use the bot as a kind of a request to other users.
Example:
/remind @som

[2019-10-21 07:27] piotr-wegert commented on #167
We did try 0.4.4 but got the following error "This plugin failed to start. Check your system logs for errors." and reverted back to 0.4.3.

[2019-10-21 13:53] scottleedavis commented on #167
Ah that's right.  0.4.4 needs 5.14.  Any fix I do will also need 5.14 or later

[2019-10-21 14:19] piotr-wegert commented on #167
Thanks Scott! We're planning to bump MM to the latest version this week.

[2019-10-25 07:03] cadavre opened #169 "Remind "every working day""
#### Summary

It would be great to add option to remind "every working day" – useful for teams working regular Mon-Fri, i.e. for daily meetings.

#### Describe alternatives you've considered

I've tried any "every monday,tuesday,wednesday..." and "every monday and tuesday ..." – but it doesn't work – it schedules reminder only for next "monday".

#### Additional context

We could assume that worki

[2019-11-13 02:16] seththesudoguy opened #170 "RemindBot Not Reminding"
Hello! I recently installed this following the instructions, the remind bot won't remind me of events even with experimental timezone enabled and deleted reminders are set to 1969

[2019-11-26 01:01] variablenix commented on #142
Does the current release of the plugin support HA in a **non**-k8 environment? I looked around and didn't really find info confirming that _remind_ can operate in a 2-node HA environment without duplicate reminders across both nodes.

[2019-11-26 20:18] scottleedavis commented on #142
Hi @variablenix , I have tested in a docker-compose 2 node HA setup with success, though it isn't documented anywhere.

[2019-11-27 08:15] variablenix commented on #142
Hi @scottleedavis. That is great to know. For context I will also be testing this in a 2-node AWS environment with an ALB. I will report back. Thank you for Reminder bot!

[2019-12-03 18:10] lieut-data commented on #143
Hey @scottleedavis! Sorry, it looks like I never got a notification for this message, otherwise I would have responded sooner. (I'll try to go through my GitHub notifications to see if I missed any others.)

I agree that cleaning up old occurrences might be painful for a number of reasons. Another option might be to explicitly maintain the list of "pending" reminders in a separate key value, and j

[2019-12-12 10:10] gfra54 opened #171 "CORS error on button click"
#### Summary
some basic feature are not working

#### Steps to reproduce
Steps to reproduce the behavior:
1. See reminder `/remind list`
2. Click on any reminder's button
3. A CORS erros show up in ther console :
[code]
(sorry for the french ouput, but you get the gist)

#### Expected behavior
Something should happen when I click on "Close list" or "Mark as complete"
#### Observed behavior (that a

[2019-12-20 01:12] Roy-Orbison commented on #154
I'm still seeing this issue in v0.4.4 on Mattermost v5.17.1

[2019-12-20 08:47] piotr-wegert commented on #167
So our reminder stopped working again. It was set up on October 24th and didn't fire up today morning. I can't find anything meaningful in the logs.

Could you please advise?

[2020-01-06 03:19] Roy-Orbison commented on #154
@scottleedavis this problem occurs on trying to snooze a recurring reminder. I seem to be able to snooze those without a schedule.

[2020-01-06 09:03] stefnats opened #172 "Not all options are visible"
As seen in the screenshot not all time options are visible:

<img width="608" alt="Bildschirmfoto 2020-01-06 um 10 02 43" src="https://user-images.githubusercontent.com/1174473/71807482-b389ae00-306b-11ea-994e-472c3f2bbb94.png">

Mattermost: 5.18
Plugin: 0.4.4
Used in Mattermost Desktop Client (macOS)

[2020-01-10 08:22] piotr-wegert commented on #167
Stopped working again. Unfortunately I can't see any pattern.

[2020-01-21 13:58] kelsiuss opened #173 "Multiple [who] support"
#### Summary

Allow the /remind command to allow users to list multiple users in the [who] field.

#### Describe alternatives you've considered

Can create individual reminders for each user (copy/paste replacing the username), or specifying an entire channel when all in the channel don't need a reminder.

#### Additional context

N/A

[2020-01-31 00:02] Roy-Orbison opened #174 "Cannot snooze a reminder from a recurring schedule"
#### Summary
The snooze drop-down does nothing if the reminder is a recurring one.

#### Steps to reproduce
1. Issue a command such as `/remind me FOOBAR every day at <2 minutes from your current time>`
2. Wait for reminder message
3. Try to select snooze option from message

#### Expected behaviour
That instance of the reminder should be snoozed

#### Observed behaviour (that appears unintentiona

[2020-02-11 12:00] hullin commented on #167
Here, all reminders regularly stop working after every update of Mattermost. They are still listed but don't fire any longer.

Using docker-compose version of Mattermost 5.19.0 under Debian 4.19.98-1 (2020-01-26) x86_64 GNU/Linux

[2020-02-11 22:21] blark012 opened #175 "Funny Entry Crashes Remind"
#### Summary
entering /remind me asdasd every today causes the plugin to crash

#### Steps to reproduce
Steps to reproduce the behavior:
1. Go to any channel
2. Post /remind me asdasd every today
4. See error

#### Expected behavior
a user was trying to spam a co-worker and unintentionally crashed the plugin

#### Observed behavior (that appears unintentional)
What did you see happen? Please inclu

[2020-02-18 07:55] stevekerrison commented on #167
Same here.

[2020-02-18 16:02] scottleedavis commented on #167
Hi All,

Unfortunately, I am completely booked with my current position and do not have time to debug and fix this.

Would Mattermost be open to supporting this plugin @levb ?  I would be happy to transfer ownership.

[2020-02-20 14:24] Fmyschkin opened #176 "Remind me Today -> Starts tomorrow"
#### Summary
/remind me test today -> schedules reminder for tomorrow
/remind me test at 18:00 -> schedules reminder for tomorrow
/remind me test at 18:00 today -> schedules reminder for tomorrow

#### Steps to reproduce
Steps to reproduce the behavior:
1. /remind me test today
2. Reminder is set tomorrow 9am

1. /remind me test at 18:00 (Current Time 15:00)
2. Reminder is set tomorrow 6pm

1. /re

[2020-02-20 22:08] Renari commented on #174
Can reproduce

[2020-03-05 12:24] zvukoper opened #177 "Remind every X hours"
Hi.

I needed a reminder that is recurring every 5 hours. Tried "/remin me every X hours", no effect.
Does it work this way? Or I should just add multiple times\reminders and make them "every day"?

[2020-03-10 12:11] levb commented on #167
@scottleedavis @jfrerich Let's do this. Jason can help with the intake process.

[2020-03-10 13:33] HeyDennis opened #179 "Commands in text or additional parameter"
#### Summary

Support commands (beginning with "/") in text part.

#### Describe alternatives you've considered

Another parameter field for commands

#### Additional context

Example:
/remind me "/away" everyday at 16:00PM
![grafik](https://user-images.githubusercontent.com/47058862/76317101-e0607880-62db-11ea-8a9c-873fbf84f7f3.png)

[2020-03-19 09:44] JohannesK142 commented on #167
Hi,
our company is using Mattermost Enterprise Edition E10 running on Debian stretch / mysql.

I can confirm the bug as well for Mattermost 5.20.1 and Remindbot 0.4.4.

A fix would be appreciated.

[2020-03-20 16:39] ThiefMaster opened #180 "Wrong name shown for reminder sent by someone else after completing it"
From another user I did `/remind @amonnich "test" in 10s`.

When receiving the reminder it showed the name of the other user correctly:

![image](https://user-images.githubusercontent.com/179599/77185304-7ad96c80-6ad1-11ea-82d5-eefa008ad8ca.png)

But after marking it as complete it shows my own name instead:

![image](https://user-images.githubusercontent.com/179599/77185330-87f65b80-6ad1-11ea-9e6

[2020-03-21 16:16] RaoOfPhysics opened #181 "Error when setting a reminder for today"
#### Summary
Setting "today" or no date followed by the time in `HH:MM` 24-hour format causes bot to set a reminder for tomorrow.

#### Steps to reproduce
Steps to reproduce the behavior:
1. Go to the private chat with `Remindbot`
2. Use the `/remind` command to set a reminder for later today using the `HH:MM` 24-hour format

#### Expected behavior
I expect the reminder to be set for the same day.

[2020-03-21 16:17] RaoOfPhysics commented on #181
Sorry, looks like this may be related to #176 and #164.

I'll close the issue.

[2020-03-21 16:17] #181 closed

[2020-03-25 08:11] piotr-wegert commented on #176
Happens to us as well.

[2020-04-10 23:37] michelamarie opened #182 ""Received invalid response from the server." Message When Attempting Installation"
Hello!

I've followed the installation instructions for this plug-in and have also reviewed the Mattermost documentation on plug-in installation. Plug-in installation is enabled in Mattermost.

When I click "upload" in the plugin management console panel to upload the installation package for the latest version (.4.4, I believe) of this plug-in, a message appears in the panel in red: "Received inv

[2020-04-13 11:06] hanzei commented on #182
Hi Michela,

What version of Mattermost Server are you using?

[2020-04-23 15:35] bbodenmiller commented on #73
@scottleedavis how's this coming along?

[2020-04-23 16:47] scottleedavis commented on #73
not in active development currently .  My manager time off for development time is scarce these days.

@hanzei ?

[2020-04-24 04:39] maximsnezhkov commented on #182
@michelamarie if you have web-server(apache/nginx) in front of mattermost check `client_max_body_size`(nginx) settings, maybe plugin archive too big.

[2020-04-27 13:58] Chubik commented on #175
ServerLog:
{"level":"debug","ts":1587995042.5387802,"caller":"plugin/hclog_adapter.go:53","msg":"panic: runtime error: index out of range [1] with length 1","plugin_id":"com.github.scottleedavis.mattermost-
plugin-remind"}

I think normalizeDate method should be rewritten.

I have found a similar issue.
reminder request:  /remind me test 30th of April
log:
{"level":"debug","ts":1587995746.0320342,

[2020-04-27 23:06] jellard1 opened #183 "Cannot remind private channel"
#### Summary
Cannot remind all members of private channel.

#### Steps to reproduce
Steps to reproduce the behavior:
1. Type /remind
2. Begin typing ~[private channel name]
3. Only public channels appear.
4. No reminders appear
5. Workaround can be to @ every person in room, but reminders appear in DM from Remindbot and not in the private channel.

#### Expected behavior
Remind private channel.

#

[2020-04-29 11:55] anarute commented on #167
Hello,

We are also facing the same issue. We couldn't determine yet exactly when it occurs, it doesn't follow a pattern, nothing on the logs.
We are using MM 5.18.0 and Remindbot 0.4.4

[2020-04-29 11:58] scottleedavis commented on #167
@hanzei managing a global team is hard work!  I don't have time for this fix...  do you perhaps?  :)

[2020-05-02 13:01] hanzei commented on #167
@scottleedavis I feel you :wink: I'm also low on time at the moment. I will take a look once things are slowing down a bit.

[2020-05-02 16:43] anarute commented on #167
@scottleedavis do you have any clue of where to look to fix this? I can maybe try to help, but I have no idea where to start

[2020-05-02 17:11] scottleedavis commented on #167
@anarute I am not clear where this issue is rooted from.

I had a guess that it was timer inaccuracy in the scheduler, which wouldn't trigger the event... however a timer inaccuracy doesn't seem highly plausible (to me) as variations in local time on server doesn't seem likely in the scale of seconds.  (though...  who am I to know this in all env's?)
https://github.com/scottleedavis/mattermost-plu

[2020-05-02 17:17] scottleedavis commented on #73
https://www.linkedin.com/posts/skawtus_remind-plugin-activity-6662399044964401152-aCZw

[2020-05-02 17:17] scottleedavis commented on #143
https://www.linkedin.com/posts/skawtus_remind-plugin-activity-6662399044964401152-aCZw

[2020-05-02 17:17] scottleedavis commented on #167
https://www.linkedin.com/posts/skawtus_remind-plugin-activity-6662399044964401152-aCZw

[2020-05-02 17:23] #158 closed

[2020-05-02 17:24] scottleedavis commented on #169
great idea @cadavre

[2020-05-02 17:25] scottleedavis commented on #171
@gfra54 does this still occur it latest Mattermost version?

[2020-05-02 17:26] scottleedavis commented on #172
@hanzei this is due to 'large list' situation.  Unless the fundamental MM component is updated, this is a won't fix.

[2020-05-02 17:26] #172 closed

[2020-05-02 17:29] scottleedavis commented on #173
thoughts on this feature @esethna ?

[2020-05-02 17:30] scottleedavis commented on #142
@variablenix how did it go in the AWS env w/ALB?

[2020-05-02 17:30] scottleedavis commented on #134
@esethna what do you think about this feature request?

[2020-05-02 17:31] scottleedavis commented on #133
@esethna how do you feel about this request?

[2020-05-02 17:35] scottleedavis commented on #177
@zvukoper repeat reminders are on the scale of days at a minimum, currently.

This feature was requested by @cpanato , and it seems likely a great change.

https://github.com/scottleedavis/mattermost-plugin-remind/issues/67

[2020-05-02 18:18] scottleedavis commented on #170
@seththesudoguy could you share logs please during the install/enable, and when scheduling a reminder?

[2020-05-02 18:20] seththesudoguy commented on #170
How will i grab those down?

Sent from myMail for iOS

Saturday, May 2, 2020, 2:18 PM -0400 from notifications@github.com  <notifications@github.com>:

[2020-05-02 18:21] scottleedavis commented on #183
@jellard1 I believe that is more an issue in mattermost-webapp.  Try typing the private channel itself, and see if it shows up there (it should).

[2020-05-02 18:22] scottleedavis commented on #182
@michelamarie does the advice from @maximsnezhkov work?

[2020-05-02 18:24] scottleedavis commented on #175
@Chubik are you able to issue a PR to resolve this issue?

[2020-05-02 18:26] scottleedavis commented on #174
@hanzei `Plugin failed to ServeHTTP, RPC call failed`...
perhaps `handleSnooze`
https://github.com/scottleedavis/mattermost-plugin-remind/blob/master/server/http.go#L342

[2020-05-02 18:27] scottleedavis commented on #171
@gfra54 I added functionality for plugins no not route to external URL I believe in 5.18...

[2020-05-02 18:27] scottleedavis commented on #171
https://github.com/mattermost/mattermost-server/pull/12156

[2020-05-02 18:28] #171 closed

[2020-05-02 18:31] scottleedavis commented on #163
@Roy-Orbison let me know if your update solution needs to be expanded upon.

[2020-05-02 18:33] scottleedavis commented on #124
@JesseFabian @guayaquilenlinea

[2020-05-02 18:34] #116 closed

[2020-05-02 18:34] scottleedavis commented on #67
https://github.com/scottleedavis/mattermost-plugin-remind/issues/177

[2020-05-02 18:34] #67 closed

[2020-05-02 18:35] scottleedavis commented on #59
Slack really gets this right, but I haven't determined how their algorithm fully works.  More work is needed in research of what slack does, and then determination on how we accomplish this for the plugin.

[2020-05-02 18:48] scottleedavis commented on #170
Hi @seththesudoguy In the system console, system logs.

![Screen Shot 2020-05-02 at 11 47 30 AM](https://user-images.githubusercontent.com/2914443/80873044-c18eba80-8c6a-11ea-9fe8-5c1d695b151f.png)

![Screen Shot 2020-05-02 at 11 47 37 AM](https://user-images.githubusercontent.com/2914443/80873052-c5bad800-8c6a-11ea-9b5a-cc83396177ac.png)

[2020-05-03 23:34] Roy-Orbison commented on #174
Also, if multiple snooze attempts are made to a recurring reminder, the plugin will crash and have to be disabled & re-enabled from the System Console, otherwise it won't respond to any slash commands.

[2020-05-03 23:43] Roy-Orbison commented on #163
I never made any further changes to the bot account after updating the email and the notification prefs, if that's what you meant.

[2020-05-04 00:41] scottleedavis commented on #163
@hanzei would this best be achieved with a config page in the system console?

This is a great idea, and the solution is likely not difficult.

[2020-05-04 06:21] bbodenmiller commented on #73
@scottleedavis so started at https://github.com/scottleedavis/mattermost-plugin-remind/pull/137? Any general feelings of what's left to do besides testing?

[2020-05-04 07:47] gfra54 commented on #171
Yes it seems to work now. Thank you very much, `/remind` is so useful 👍

[2020-05-04 11:24] Chubik commented on #175
sorry for delay, missed your message.
Ill add PR fixes of my issue till end of the week or on start of the next one.
Unfortunately, I didnt investigated issue blark012, Ill try to check too.

[2020-05-04 14:41] JohannesK142 commented on #167
On my machine I observed that it was low on RAM and another process was killed by the kernel scheduler... Maybe the remind bot also needs some protection against that one of its processes is externally killed...

[2020-05-04 15:09] scottleedavis commented on #73
@bbodenmiller yes and there is new structure for creation of the menu function that I completed in mattermost-webapp.  That would be the place to look into.

please see the [mattermost-plugin-demo repo](https://github.com/mattermost/mattermost-plugin-demo/search?q=submenu&unscoped_q=submenu)
![Screen Shot 2020-05-04 at 8 06 55 AM](https://user-images.githubusercontent.com/2914443/80981097-5534c800

[2020-05-04 15:12] scottleedavis commented on #167
@levb @lieut-data ?

[2020-05-05 09:24] Dave-Kay commented on #183
Having the issue myself, Adressing private Channel like "~private_channel" it doesn't work, though stating it will remind the channel.

[2020-05-05 13:51] scottleedavis commented on #183
@hanzei what is needed so that a bot account can message a private channel?

[2020-05-06 11:16] hanzei commented on #167
The [`cluster`](https://pkg.go.dev/github.com/mattermost/mattermost-plugin-api@v0.0.10/cluster?tab=doc) package allows the scheduling of jobs in a concurrency save way. Using that package could greatly help with reducing bugs related to the reminder scheduler.

Integration this package would be a good isolated test, maybe even as a Help Wanted.

[2020-05-06 15:21] scottleedavis commented on #167
Open bug bounty.  I'll send a $10 amazon gift card for a approved PR.

@hanzei would you help review the PR too?

[2020-05-06 15:41] scottleedavis commented on #167
@levb @lieut-data are also invited to review a PR.

[2020-05-06 19:22] hanzei commented on #167
Sure, I'm happy to review the PR.

[2020-05-06 19:29] hanzei commented on #183
That is not a limitation by bot accounts. The webapp just shows public channels for auto completion of `~`.

[2020-05-06 19:32] scottleedavis commented on #183
not a bug

[2020-05-06 19:32] #183 closed

[2020-05-08 07:17] michelamarie commented on #182
Hi, @hanzei. We're running v5.21.0.

[2020-05-08 07:20] michelamarie commented on #182
Thanks for the suggestion, @maximsnezhkov, @scottleedavis. We do not have any sort of web server or proxy in front of Mattermost (Apache, Nginx, etc.).

Might you have any other suggestions or thoughts of things we should check then?

[2020-05-10 16:17] scottleedavis commented on #167
I will gift a $50 amazon gift card to the first person who completes this PR.
And some Mattermost stickers.

![IMG_0645 copy](https://user-images.githubusercontent.com/2914443/81504594-033ce800-929f-11ea-9ccb-c3676c8c8396.jpg)

[2020-05-10 23:30] scottleedavis commented on #73
@kaakaa you had asked what needs to be completed for the PR.  It is matching the code found in the mattermost-plugin-demo and changed in the PR. ☝️

https://community.mattermost.com/core/pl/4aiwoyz413fjxyqoejaomctpuh

[2020-05-10 23:36] #175 closed

[2020-05-10 23:36] scottleedavis commented on #175
https://github.com/scottleedavis/mattermost-plugin-remind/pull/184

[2020-05-10 23:39] scottleedavis commented on #166
@ewwollesen as this is handled by mattermost-server and mattermost-webapp, not in scope to be fixed by this plugin.

[2020-05-10 23:39] #166 closed

[2020-05-10 23:44] scottleedavis commented on #179
although I like the idea @HeyDennis , I feel this could lead to abuse in some cases.  Open to thoughts otherwise.  slack doesn't have the behaviour.

<img width="472" alt="Screen Shot 2020-05-10 at 4 43 43 PM" src="https://user-images.githubusercontent.com/2914443/81513450-7e24f380-92dd-11ea-8955-d2bbfc0cbeb0.png">

[2020-05-10 23:44] #179 closed

[2020-05-12 14:25] tschlue opened #185 "RPC call ExecuteCommand"
#### Summary
Sometime the plugin crashs

#### Steps to reproduce
I don't know

#### Expected behavior
No crashs

#### Observed behavior (that appears unintentional)
**Output:** Command with a trigger of '/remind' not found.

#### Server configuration
**Operating system:** CentOs

**Mattermost version:** 5.19.1

**Remind version:** 0.4.4

**Updated from an older Remind bot version or fresh install:

[2020-05-12 15:25] scottleedavis commented on #185
not sure where to start yet in triaging this...  @hanzei do you have pointers?

[2020-05-13 19:15] hanzei commented on #185
@tschlue Could you post your full server log with Debug logging on please? I strongly suspect that the remind plugin crashed at some point, which is only visible in debug logs.

[2020-05-14 06:59] tschlue commented on #185
I switched the logging to debug and will post the log as soon as it occures.

[2020-05-14 13:23] tschlue commented on #185
`{"level":"debug","ts":1589457084.2072966,"caller":"plugin/hclog_adapter.go:35","msg":"panic: runtime error: index out of range","plugin_id":"com.github.scottleedavis.mattermost-plugin-remind"}
{"level":"debug","ts":1589457084.2073348,"caller":"plugin/hclog_adapter.go:35","msg":"","plugin_id":"com.github.scottleedavis.mattermost-plugin-remind"}
{"level":"debug","ts":1589457084.2073424,"caller":"pl

[2020-05-14 20:02] cripton commented on #170
Hi @scottleedavis i have a similar issue with the plugin:
com.github.scottleedavis.mattermost-plugin-remind-0.4.4.tar.gz

I have a Docker instance with:
Mattermost Version: 5.17.1
Database Schema Version: 5.17.0
Database: postgres

The logs show the following:
{"level":"error","ts":1589482913.7945294,"caller":"mlog/sugar.go:23","msg":"failed to find target user @all","plugin_id":"com.github.scottl

[2020-05-18 16:47] bvdbos opened #186 "/remind command not available in 5.2"
#### Summary
/remind doesn't work on Mattermost 5.2 (fresh install)

#### Steps to reproduce
Steps to reproduce the behavior:
1. install Mattermost 5.2
2. install plugin Remind
3. enable remind-bot
4. try /remind

#### Expected behavior
set a reminder

#### Observed behavior (that appears unintentional)
/Remind was not added to commands-list:
![afbeelding](https://user-images.githubusercontent.com

[2020-05-20 06:55] tschlue commented on #185
Doesn't `"msg":"panic: runtime error: index out of range"` look suspicious?
At the moment I have to reenable the plugin every day.

[2020-05-20 22:11] michelamarie commented on #182
Hi, there, @scottleedavis @hanzei. I suppose you do not have any solutions or ideas on additional troubleshooting steps for this issue. Is that correct?

[2020-05-22 10:55] maximsnezhkov commented on #182
@michelamarie try to increase `System Console > File Storage > Maximum File Size`

[2020-05-22 18:27] michelamarie commented on #182
Thank you, @maximsnezhkov! We will try that and let you know the outcome.

[2020-05-23 14:40] YuKitAs opened #187 "Add examples with valid date formats"
#### Summary

As there are so many common date formats, I've spent some time to figure out the valid ones until I saw `m/d/y|d.m.y` in the README. Not gonna say more common date formats should be supported, but as a user, at least I wish I could see what I should write exactly by checking `help`.

#### Describe alternatives you've considered

Add some examples like `/remind me whatever on 05/23/20

[2020-05-24 13:11] YuKitAs commented on #176
I think the issue lies with the rounding
[code]
If `now` is later than 12:00 in UTC, it will be rounded up the next day, and the calculation for the occurrence will be incorrect. For example:
[code]
In this case the `occurrence` should be `t.AddDate(now.Year(), int(now.Month())-1, now.Day()-2)` imho.

[2020-05-27 11:37] hanzei commented on #186
@bvdbos Would you please update your Mattermost server to at least 5.14? 5.2 is a quite old version.

[2020-06-17 14:32] JanMalte opened #188 "Can not set reminder for private channels"
#### Summary
Reminders for private channels is not supported. I can set the reminder, but it never gets posted.

#### Steps to reproduce
Steps to reproduce the behavior:
1. Create a private channel
2. Set a reminder for the channel
3. Nothing happens at the set time

#### Expected behavior
The reminder should be posted to the private channel

#### Observed behavior (that appears unintentional)
The

[2020-06-27 16:12] bvdbos commented on #186
You were right (of course...)

[2020-06-27 16:12] #186 closed

[2020-08-04 20:34] dbpolito opened #189 "Delete Other Users / Inactive Users Reminders"
#### Summary

We have a user that got inactivated but all his reminders are still active.

We need a way to remove it. Maybe admins can view all reminders on that channel.

I think at Slack everyone can see / manage the reminders on a channel, not only who created.

[2020-08-10 20:14] sleinen commented on #185
Indeed.  If you unpack the subsequent messages, the exception seems to happen around line 890 in server/occurrence.go, in the `onEN()` function:

[code]

Note that this part of the code was changed *after* the 0.4.4 release, by commit 2ca387850f340381cb20b3b2cc3dea48e387c2c5 (5 May). So maybe this problem has already been fixed?

[2020-08-11 06:27] tschlue commented on #185
Maybe, but I need a release to test it.

[2020-08-14 01:44] Roy-Orbison commented on #174
I thought of a possible solution for this issue. Because snoozing only applies to the current *instance* of the recurring reminder, but (I'm guessing) the data model doesn't have a record of instances, snoozing could:

1. clone the original reminder
2. drop the clone's recurring schedule and set its date & time to the original's + the snooze duration
3. dismiss the original as if it had been marke

[2020-08-17 21:37] johnramsden opened #190 "Remind about thread"
#### Summary

Reminders of threads.

#### Describe alternatives you've considered

We will commonly flag threads so we know to go back and look at them, but it would be nice to be able to get a reminder message.

#### Additional context

Some sort of syntax similar to:

[code]

Sends you a message with a link to the thread.

[2020-09-01 11:01] Jacq commented on #167
I did not found a similar issue for my scenario, but may be is related to this.
In my case the remind feature stops working each time I upgrade mattermost to a new version.
Then I have to setup a new reminder and it works again for the new ones but not for the older ones which are never reminded.
My reminders are reminder at a specific hour each working day for a given channel.
Cheers,
Jacq

[2020-09-05 11:25] Tragen commented on #73
Anything we can do to get this feature working?

[2020-09-16 17:03] Cactusbone commented on #169
You can use "every weekdays" to exclude weekend, so what's left here is to somehow integrate with some non-working days API.

[2020-10-06 08:15] olivierlambert commented on #188
Same problem here :)

[2020-10-20 09:20] taminachen opened #191 "Register the Postdropdown Component"
How is the PostID obtained when registering the postdropdown component？

[2020-11-16 15:48] lucaswerkmeister commented on #176
Since it hasn’t been mentioned here yet, a **workaround** is to explicitly mention today’s date:

[2020-11-17 03:18] tungtran96 opened #192 "Recurring reminder text doesn’t show up in the Android notification app. I just get a blank in the notification bar"
/remind @someone test in 10 minutes

![0e7703b826e9d7b78ef8](https://user-images.githubusercontent.com/51260624/99342283-2257aa80-28be-11eb-870a-f8b210c4b67f.jpg)

Mattermost version : 5.29
Android 10

[2021-01-15 20:06] Philmod opened #194 "Click on button errors"
#### Summary
When I click on any button (Mark as complete, delete, etc...), the http call fails with: `{"id":"api.post.do_action.action_integration.app_error","message":"Action integration error","detailed_error":"","request_id":"j9w5n5qozjntfnj58gkcbesrah","status_code":400}`

#### Steps to reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. Se

[2021-01-17 18:46] hanzei commented on #194
The mattermost version you are using is quite old. Could you please update to a newer one?

[2021-01-18 16:46] Philmod commented on #194
Upgrading to `5.31` fixed the problem, thanks.

[2021-01-18 16:46] #194 closed

[2021-01-25 02:08] dongnak commented on #188
Same here.

[2021-02-05 20:32] elyscape opened #195 "Submit plugin to the Mattermost Plugin Marketplace"
#### Summary

It would be nice if Remind Bot were available in the Mattermost Plugin Marketplace.

#### Describe alternatives you've considered

This isn't really applicable. I guess the alternative is that it remains available here only.

#### Additional context

The Mattermost Plugin Marketplace provides the ability to install and update plugins from within the app directly, without needing to d

[2021-02-14 17:36] scastillo commented on #188
I haven't double-checked the implementation but it seems it may be related to this: https://github.com/mattermost/mattermost-server/issues/16245

I'm very interested in solving this so if anyone is working on a workaround I would really appreciate if you let me know. I can collab to get it done.

[2021-02-14 17:43] olivierlambert commented on #188
The only workaround I found is to use it for… public channels :(

@scastillo keep me posted if you find anything!

[2021-02-18 01:52] scottleedavis commented on #195
Great idea.  I would to make this happen.

[2021-02-18 01:52] scottleedavis commented on #188
Happy to help resolve this.

[2021-02-18 02:21] elyscape commented on #195
On further review, there are currently several plugins in the marketplace with version below 1.0.0, just marked as beta, so it may be possible to submit Remind Bot even before hitting version 1.0.0.

[2021-02-18 02:25] scottleedavis commented on #195
Inquiring https://community-release.mattermost.com/core/pl/3bpnbkwputrybn4ohj5dzmezmw

[2021-02-19 17:56] scottleedavis commented on #73
I will pick this up.

[2021-03-01 19:11] ryankern43 opened #196 "Change message for channel reminders"
#### Summary

Be able to change default text for reminders, especially when posting reminders to channels. Would like to be able to set a daily reminder to post to a channel but not "{{.FinalTarget}} asked me to remind you \"{{.Message}}\"." Similar to how Slackbot works in Slack where it shares reminders to channels, but only posts the message as the bot. Would like to change to just post "\"{{.M

[2021-03-05 19:53] #176 closed

[2021-03-05 19:54] scottleedavis commented on #176
Fixed occurence calculation #193

[2021-03-17 06:37] #191 closed

[2021-03-17 20:25] RainTomassi opened #197 "Support markdown for reminder"
#### Summary

One paragraph explanation of the feature.

This is a minor request, but I think it would be nice if easy to implement.  When I schedule a reminder, I'd like to add some styling to it.  For example, I'd like to create a reminder for a channel that has a large heading text style that says xyz is starting soon.

#### Describe alternatives you've considered

A clear and concise descripti

[2021-04-20 19:21] jwillmer opened #198 "duplicate key value violates unique constraint "users_username_key""
#### Summary

I upgraded Mattermost to 5.34. This also required switching (upgrading) Postgres. Now this app throws the following error on startup:

[code]

Reinstalling the plugin did not help. Since it prevents the start from all other plugins I need to remove this plugin.

#### Steps to reproduce
Steps to reproduce the behavior:
1. Upgrade Mattermost and db via [script](https://github.com/matte

[2021-04-20 20:45] jwillmer commented on #198
I fixed it by:

1) removing the plugin from Mattermost
2) converting the (still existing) [bot user to a real user](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-user-convert)
3) [deleting the user](https://docs.mattermost.com/administration/command-line-tools.html#mattermost-user-delete)
4) reinstalling the plugin

I leave this bug open. Maybe some dev knows how to

[2021-05-19 06:09] vmakarenko opened #199 "Bad syntax error handling by skipped date preposition"
#### Summary
Bad syntax error handling by skipped date preposition

#### Steps to reproduce
Steps to reproduce the behavior:
1. `/remind @channel "Call James" May 31st` (preposition `on` is skipped in date definition)
2. See error: `/remind command crashed the com.github.scottleedavis.mattermost-plugin-remind plugin. Please contact your system administrator`
3. Plugin has crashed

#### Expected be

[2021-05-25 11:11] kemenaran commented on #185
I just built and installed the latest version of this plugin locally. And indeed this problem has already been fixed in the latest version from `master`.

However this version has not been released yet, which makes it cumbersome to install.

@scottleedavis would you consider releasing the current state of master as a 0.4.5 version?

[2021-05-25 13:56] NexusEFR opened #200 "Error executing bar command"
{"level":"error","ts":1621949897.9250617,"caller":"mlog/log.go:232","msg":"Plugin failed to ServeHTTP, RPC call failed","plugin_id":"com.github.scottleedavis.mattermost-plugin-remind","error":"unexpected EOF"}

{"level":"error","ts":1621949992.4200134,"caller":"mlog/log.go:232","msg":"Plugin for /remind is not working. Please contact your system administrator","path":"/api/v4/commands/execute","re

[2021-05-27 18:10] Raph33 commented on #195
Hello, is there an update to getting the plugin on the Marketplace? We're excited to get it installed :)

[2021-05-27 19:00] esethna commented on #73
@scottleedavis how's this going? Would LOVE to see this in the product! Let us know if you need assistance :)

[2021-06-03 23:26] BigFishLittleFish commented on #182
Hit the same issue recently and came here looking for answers. I believe it is related to firewalls in our case. However, the plugin can be loaded manually if you have access to the server, which seems to work for us...

To manually install copied from here(https://www.inmotionhosting.com/support/product-guides/vps-hosting/install-mattermost-plugins-and-integrations)

Upload the compressed file to

[2021-06-16 12:43] danielrojas-dmt opened #201 "Using HH:mm time format creates reminder for tomorrow even if current time is earlier than specified reminder time"
#### Summary
I tried  `/remind @somebody "do something" at 15:00" while it was 14:30, and RemindBot told me it would remind me "at 3:00PM tomorrow".

#### Steps to reproduce
Steps to reproduce the behavior:
See above

#### Expected behavior
If current time is before set reminder time, assume it is meant for today.
Also, related to #164, if I use 24h format it should reply in 24h format.

#### Obse

[2021-06-18 09:17] danielrojas-dmt opened #202 "Implement way to re-remind people"
#### Summary

When sending reminders to others, it can happen that they neither snooze it nor mark it as complete, and it gets forgoten.
When running `/remind list`, an additional button to repeat the reminder would be very helpful for these situations.
A "nagging" feature, if you will.

####  Mockup

`/remind list`

**Past and incomplete:** "pay back borrowed money"
<kbd>Mark as complete</kbd> <k

[2021-06-23 00:35] jayenashar opened #203 "format response like request"
#### Summary

i get confused when the response is `I will remind who "what" at time date` and then when i try `time date` i get an error.  please put the response in the same format as acceptable commands.  in this case `date time`.  this way if i need to modify it i can copy and paste the response and modify it.

another scenario is when i do `/remind "what" time date` and then i get an error.  n

[2021-06-30 15:22] Philmod commented on #73
Any update?

[2021-07-08 15:08] Hespian commented on #188
Is there any update on this? We're having the same problem and all our channels are private so we can't use channel reminders at all (except for Town Square of course)

[2021-07-16 04:37] Roy-Orbison opened #204 "Cannot set reminders for `@channel`, `@all`, and `@here`"
#### Summary
Plugin doesn't seem to correctly resolve special username-like keywords `@channel`,  `@all`, and `@here` when attempting to post reminders.

#### Steps to reproduce
Steps to reproduce the behavior:
1. Go to a public channel
2. Post a message like `/remind @channel test in 1 minute`
3. Wait until message should have been posted

#### Expected behavior
Reminder should be posted as if on

[2021-07-22 06:31] kemenaran commented on #185
@scottleedavis I'd still be very much interested in releasing a new compiled version.

I've seen there's not much activity on this plugin recently–which is fine :) Do you have some time for publishing a release currently? Or maybe would you consider additionnal maintainers to help keep this plugin up-to-date?

[2021-07-22 13:04] scottleedavis commented on #185
@kemenaran do you have recommendations for maintainers?  You would be?

[2021-07-23 06:35] kemenaran commented on #185
I'd be interested in stepping in, yes. I could at least do some grunt work on publishing releases, managing the CI, writing some tests, or reviewing PRs.

That said, although I know some Mattermost internals (I maintain the [Mattermost Yunohost package](https://github.com/YunoHost-Apps/mattermost_ynh) and [some build scripts](https://github.com/SmartHoneybee/ubiquitous-memory/), I don't know much

[2021-07-30 09:49] tls-fledoux commented on #188
Hi all. I found a solution for this issue. You just have to add the bot account ( @remindbot created during installation) on your private channel like a regular user. ( "Invite People" on your server + "Add new members" on the private channel ). Then just use the /remind ~privateChannel "message" command. Works fine for me :)

[2021-07-31 17:52] scottleedavis commented on #188
thank you @tls-fledoux .  closing this as fixed.

[2021-07-31 17:52] #188 closed

[2021-07-31 18:03] olivierlambert commented on #188
I don't have such bot in my installation 🤔
I will reinstall the plugin.

[2021-08-02 05:59] JanMalte commented on #188
I could not add the user `remindbot` or `@remindbot` as they are not available in the "Add user" popup.
They are not real users but `Bot Accounts`

[2021-08-02 08:08] tls-fledoux commented on #188
Here is the procedure I followed : In the dropdown menu on the top-left corner, select "Invite People". (![1](https://user-images.githubusercontent.com/85942219/127826243-16aa32b1-45a5-4a67-ad87-2f947e44452d.png)) Then I was able to "invite" the bot account on the server (auto-accepted) (![2](https://user-images.githubusercontent.com/85942219/127826307-0bf8e448-e394-420c-a0e7-a513dcbf89df.png)
).

[2021-09-03 17:10] jdauphant opened #205 "Release last fixes on master"
Hello @scottleedavis , there is 2 fixes in the master, can you release it on a new release ?

Thanks,
Julien

[2021-09-05 19:29] scottleedavis commented on #205
Is @hanzei  available to do this?

[2021-09-10 13:49] bfontaine commented on #195
Hello, has there been progress on this?

[2021-09-17 07:20] hanzei commented on #205
A new release has been cut: https://github.com/scottleedavis/mattermost-plugin-remind/releases/tag/v0.4.5

[2021-09-17 07:20] #205 closed

[2021-09-20 05:33] gggomg opened #207 "Ability to set everyday reminder for @user"
Good day, now it is impossible to set reminder for specific user. For example commnd "/remind @john "Test" at 10:15 am every Tuesday" will return "Sorry, I didn’t understand" Error. Please add everyday parameter for setting reminders for specific users.

[2021-09-21 13:46] bfontaine opened #208 "Question: how to reset the plugin state from the server?"
Hello, and thank you for such a useful plugin.

I’m trying to troubleshoot the plugin because it somehow stopped working this afternoon but I can’t see why. No `/remind` command is doing anything and reminders are not sent. There’s no error in the logs.

Hence, I’d like to reset the plugin state from the server to fix the issue, and then re-create the couple recuring reminders we had.

How can I d

[2021-09-28 13:15] n9010 commented on #207
Same here, it used to work. Thanks

[2021-10-21 06:08] ghendo opened #209 "Message reminder"
Missing from this plugin is message level reminders similar to slack

Context menu for a message would include this feature

[2021-12-03 16:46] Aephex opened #210 "No reminders sent on MM 6.1"
#### Summary
Reminders are not sent to users after they are created on Mattermost 6.1

#### Steps to reproduce
1. Create any reminder and set the user to yourself via @ tag or `me`.
2. Check logs when it should have sent.

#### Expected behavior
A reminder message is sent.

#### Observed behavior (that appears unintentional)
No channel created or message sent.

#### Server configuration
**Operatin

[2022-01-01 20:01] chadbillanderson commented on #210
I am also having this issue, on MM v6.1.0. This is my first time installing Remind Bot (v0.4.5)

[2022-01-01 20:13] chadbillanderson commented on #210
I discovered the source of the problem.
`System Console > Site Configuration > Users and Teams`
I had `Enable users to open Direct Message channels with:` set to `Any member of the team` --- after changing to `Any user on the Mattermost server`, everything is working as expected.

[2022-01-05 18:34] tecnosoluciones opened #211 "Unable to activate plugin"
#### Summary
I'm just installing the pluging on a fresh mattermost 6.2.1 server and it doesn't activate it showing the following errors:

`{"timestamp":"2022-01-05 18:17:14.282 Z","level":"warn","msg":"Unrecognized config permissions tag value.","caller":"api4/config.go:380","tag_value":"sysconsole_write_*_read"}
{"timestamp":"2022-01-05 18:17:14.304 Z","level":"error","msg":"Unable to activate pl

[2022-01-13 20:54] oyale commented on #207
I'm not sure if this is an issue. The [documentation ](https://github.com/scottleedavis/mattermost-plugin-remind/wiki/Usage) states that:

[2022-01-13 20:58] oyale commented on #204
Hi!

Have you follow the steps from the last comment of the issue you link? https://github.com/scottleedavis/mattermost-plugin-remind/issues/188#issuecomment-890816078

I've solved this same issue adding the bot to the group

[2022-04-06 10:01] kemenaran commented on #204
This issue occurs because when creating the Post, the Mattermost server sees that the Post has an empty Post.Type, and the bot user doesn't have permissions to post channel mentions. Thus `CreatePost` marks the post as `mentionHighlightDisabled`, and no channel mentions are triggered.

There are several possible workarounds:
1. Pass a non-default `Post.Type` to `CreatePost` – for instance `model.P

[2022-04-07 00:59] Roy-Orbison commented on #204
@kemenaran I think you're referring to the problem described by #188, where the bot can find the channel but fails to post to it. I don't think that's actually fixed, but people are working around it by adding the bot to the channel.

This issue is about the bot not even understanding the channel to begin with, before any posts are created, so permissions are irrelevant. When creating a reminder,

[2022-04-08 11:09] kemenaran commented on #204
Hmm, I wasn't referring to the issue in #188, but really to the issue description:

I agree that there's an issue on how channels are stored (especially for private channels), but I was trying to move forward the discussion on a generic-case issue, that is probably causing a lot of these troubles. (Nanely _"Why when creating the post the server explicitely disables mentions?"_)

[2022-04-12 13:56] kemenaran commented on #209
This looks like a duplicate of #73.

[2022-04-13 08:49] DDorch commented on #59
Maybe by parsing the last "in" in the line?

[2022-04-13 09:44] davidnortes opened #213 "remindbot does not scape quotes"
#### Summary
Remindbot removes all quotes regardless whether they are escaped or not

#### Steps to reproduce
Steps to reproduce the behavior:
1. Create the following reminder (no escaped quotes) ` /remind me "sudo su -c "R -e \"update.packages(ask = FALSE)\"" " in 1 minute`
2. Create the following reminder (escaped quotes) `/remind me "sudo su -c \"R -e \\"update.packages(ask = FALSE)\\"\" " in 1

[2022-04-15 09:49] kemenaran opened #214 "User should not be able to mark recurring channel reminders as completed"
#### Summary
Currently it is possible to mark a recurring channel reminder as "Completed". This doesn't really make sense, as normal (i.e. personal) recurring reminders can't ever be marked as complete.

This means the reminder will continue to trigger recurrently, without being visible in the reminders list.

#### Steps to reproduce
Steps to reproduce the behavior:
1. Add a channel recurring remi

[2022-04-28 05:47] kemenaran commented on #143
I have another fix suggestion for this, that doesn't involve a large enumeration:
- Have the plugin store a "LastTickAt" datetime
- When ticking, look up all datetimes between LastTickAt and now.

For instance, if the tick misses two seconds, it will look up the time keys for S-2, S-1 and S. So only three lookups, which seems cheap.

It seems to integrate well with the current behavior of the plug

[2022-05-04 01:26] noveogithub opened #217 "Reminders shifted in time"
#### Summary
Reminders shifted in time

#### Steps to reproduce
I have setup reminders at the same time for every working day.

#### Expected behaviour
Reminders should come at configured time

#### Observed behaviour (that appears unintentional)
I get reminders in different time:
- Sometimes they arrive on time
- Sometimes with the shift of 1 minute
- Sometimes with the shift of 1 hour (it may ha

[2022-05-24 08:31] Tragen opened #219 "Reminder doesn't vanish"
#### Summary
Reminder doesn't vanish

#### Steps to reproduce
Steps to reproduce the behavior:
1. Create a reminder
2. Wait until the reminder
3. Click on "next week" in the select box
4. Reminder doesn't vanish

#### Expected behavior
Reminder should vanish like in earlier MM versions. I think it started in April.

#### Server configuration
**Operating system:** Linux 5.10.0-14-amd64 #1 SMP Debia

[2022-06-09 00:37] Roy-Orbison commented on #204
At [the point it tries to execute the request](https://github.com/scottleedavis/mattermost-plugin-remind/blob/99be8e4ea70a587b87d549b82dc7fb91e3d64a17/server/command.go#L91), it appears to exclude the channel ID form the parser's input data even though it's available in that context as `args.ChannelId`. It's just @scottleedavis (or anyone who's decent at Go) having the time and will to patch in a

[2022-07-01 12:46] iamkhalidbashir commented on #207
much needed

[2022-07-01 12:48] iamkhalidbashir commented on #167
need fix for this

[2022-09-07 13:37] shamanis commented on #204
Guys, will this be fixed in the next releases? I really need this fix.
Maybe there is some kind of night build?

[2022-09-07 20:35] kemenaran commented on #204
I fixed the issue on the CodeursEnLiberte fork, but never submitted a PR. I just opened #220 with a fix for this issue.

[2022-09-08 01:10] Roy-Orbison commented on #204
@kemenaran Can you explain how setting a custom message type will solve this issue? The problem is that the plugin does not know *where* to post the message, not that it's unable to be posted.

Maybe your PR helps resolve #188?

[2022-09-08 05:51] kemenaran commented on #204
It solves the problem because global mentions (such as `@here`, etc.) are normally triggered only if the user posting the message is allowed to trigger such global mentions. Which bot users such as Remindbot never are.

The officially sanctioned workaround is to use a custom message type. In that case, the message is always allowed to trigger a global mention. And thus writing a reminder containin

[2022-09-08 07:39] Roy-Orbison commented on #204
@kemenaran I've explained the details of this issue numerous times, and every time you've responded, you've described the problem of being not allowed to use special mentions *in the reminder content*, which is **not** the issue I'm describing. This issue occurs even if there are *no special mentions* in the reminder content. You keep ignoring the fact that when you're passing a custom `PostType`

[2022-09-16 14:46] JamesB41 commented on #201
Late to the party, but in my case I think it's because it's using UTC time. If I just use /remind and hit enter to bring up the modal to schedule, even if I set it for "20 minutes" from now, it sets it for 4 hours and 20 minutes from now.

[2022-09-29 10:29] mrmonkington commented on #210
If this global permissions change isn't acceptable (it wasn't for us) you can add "remindbot" to whichever teams it should have posting rights to.

[2022-10-25 06:57] the-black-wolf commented on #73
Hi, any chance we can see this in prod? We have, as many, migrated to Mattermost when Slack stole our 90+ days messages. A lot of teams were using this feature, ours included. mattermost/community#164 appears to not even start and you guys are the closest to the solution.

[2022-11-27 02:17] #210 closed